.page {
}

.header {
  display : flex;

  // .header__right
  &__right {
    display        : flex;
    flex-direction : column;
    flex-grow      : 1;
    min-height     : 95px;
  }

  // .header__inner
  &__inner {
    // .header__inner--top
    &--top {
      display         : flex;
      justify-content : space-between;
      padding         : 10px 34px 10px 61px
    }

    // .header__inner--nav
    &--nav {
      display          : flex;
      justify-content  : space-between;
      margin-top       : auto;
      padding          : 9px 25px 9px 60px;
      background-color : #526584;

    }
  }

  // .header__logo
  &__logo {
    display         : flex;
    align-items     : center;
    flex-direction  : column;
    justify-content : center;
    width           : 251px;
    height          : 95px;
  }

  // .header__block
  &__block {


    // .header__block--1
    &--1 {
      color : #36393a;

    }

    // .header__block--2
    &--2 {
      flex   : 0 1 413px;
      margin : 0 15px;
    }

    // .header__block--3
    &--3 {
      margin-top : -4px;

    }
  }

  // .header__promo
  &__promo {
    font-size   : 14px;
    line-height : 17px;
    white-space : nowrap;
  }

  // .header__phones
  &__phones {
    font-size   : 13px;
    line-height : 16px;
    margin-top  : 9px;
  }

  // .header__phone
  &__phone {
    font-size   : 13px;
    font-weight : bold;
    line-height : 16px;

  }

  // .header__search
  &__search {

  }

  // .header__personal
  &__personal {
  }

  // .header__catalog
  &__catalog {

  }

  // .header__main-menu
  &__main-menu {
  }
}

.logo {
  background-color : $accentColor;


  // .logo__image
  &__image {
  }

  // .logo__text
  &__text {
    font-size   : 11px;
    line-height : 13px;
    margin-top  : 8px;
    color       : #fff;
  }
}


.search-block {
  font-size   : 11px;
  line-height : 13px;
  position    : relative;

  // .search-block__label
  &__label {
    width : 100%;
  }

  // .search-block__field
  &__field {
    font-size      : 11px;
    line-height    : 16px;
    width          : 100%;
    padding-bottom : 2px;
    padding-left   : 25px;
    border-bottom  : 2px solid #54585d;
  }

  // .search-block__btn
  &__btn {
    position            : absolute;
    left                : 0;
    width               : 13px;
    height              : 13px;
    text-indent         : -9999px;
    background-color    : rgba(0, 0, 0, 0);
    background-repeat   : no-repeat;
    background-position : center;
  }
}

.personal-block-header {
  display : flex;


  // .personal-block-header__link
  &__link {
    font-size    : 12px;
    line-height  : 15px;
    display      : flex;
    align-items  : center;
    margin-right : 60px;
    white-space  : nowrap;
    color        : #1c2127;

    svg {
      flex         : auto 0 0;
      margin-right : 3px;
    }

    &--auth {

    }

    &--favorite {

    }

    &--basket {
    }

    &:last-child {
      margin-right : 0;
    }

    &::before {
      margin-right : 4px;
      content      : '';
    }

    &:active,
    &:focus,
    &:hover {
      text-decoration : none;
    }

  }
}

.basket-link {
  // .basket-link__count
  &__count {
    font-size       : 12px;
    line-height     : 15px;
    display         : inline-flex;
    align-items     : center;
    flex            : auto 0 0;
    justify-content : center;
    width           : 26px;
    height          : 26px;
    margin-left     : 10px;
    text-align      : center;
    color           : #fff;
    border-radius   : 50%;
    background      : #1c2127;

  }
}

.catalog-menu {
  display         : flex;
  justify-content : space-between;
  width           : 100%;
  max-width       : 620px;

  // .catalog-menu__item
  &__item {
    margin : 0 10px;

    &:first-child {
      margin-left : 0;
    }
  }

  // .catalog-menu__link
  &__link {
    display     : flex;
    align-items : center;
    white-space : nowrap;
    color       : #fff;

    svg {
      display      : inline-block;
      margin-right : 10px;
    }

    &:active,
    &:focus,
    &:hover {
      color : #fff;
    }
  }
}

.main-menu {
  display         : flex;
  justify-content : space-between;
  width           : 100%;
  max-width       : 530px;
  margin-right    : 80px;
  margin-left     : 10px;

  // .main-menu__item
  &__item {
    margin : 0 5px;
  }

  // .main-menu__link
  &__link {
    white-space : nowrap;
    color       : #fff;

    &:active,
    &:focus,
    &:hover {
      color : #fff;
    }
  }
}
