// Font
$mainFont       : 'Verdana', 'Geneva', sans-serif;

// Size
$mainFontColor  : #000;

$accentColor    : #ec621f;

$mainFontSize   : 13px;
$mainLineHeight : 1.230;
$mainFontWeight : 400;


$desktopGutter  : 30px;


$desktopWidth   : 1340px;


$smDesktopWidth : 1024px;

$tableWidth     : 768px;
$phoneWidth     : 480px;
$smPhoneWidth   : 320px;

