.page-content {
  // .page-content__basket
  &__basket {
    margin-top : 60px;
  }
}

.basket-page {
  // .basket-page__list
  &__list {
  }
}

.basket-list {
  // .basket-list__inner
  &__inner {
  }

  // .basket-list__item
  &__item {
    margin-bottom : 5px;
  }

  // .basket-list__footer
  &__footer {
    max-width   : 350px;
    margin-top  : 30px;
    margin-left : auto;

    @media screen and (max-width : 1023px) {
      margin : 35px auto 0;
    }
  }

  // .basket-list__btn
  &__btn {
    display      : block;
    margin-right : auto;
    margin-left  : auto;
  }
}


.item-basket-list {
  position         : relative;
  display          : flex;
  align-items      : center;
  justify-content  : space-between;
  box-sizing       : border-box;
  padding          : 15px 20px;
  border           : 1px solid rgb(196, 196, 196);
  background-color : rgb(255, 255, 255);

  @media screen and (max-width : 767px) {
    padding   : 10px 10px 15px 10px;
    flex-direction: column;
    align-items: flex-start;
  }


  // .item-basket-list__wrapper
  &__wrapper {
    display : flex;
    align-items : center;

    max-width    : 500px;
    margin-right : auto;

    @media screen and (max-width : 1023px) {
      flex : 0 0 250px;
    }

    @media screen and (max-width : 767px) {
      flex-basis : 100%;
    }
  }


  // .item-basket-list__image
  &__image {
    flex         : 0 0 70px;
    width        : 70px;
    height       : 70px;
    margin-right : 25px;

    @media screen and (max-width : 1023px) {
      flex         : 0 0 60px;
      width        : 60px;
      height       : 60px;
      margin-right : 20px;
    }

  }

  // .item-basket-list__info
  &__info {


  }

  // .item-basket-list__name
  &__name {
    font-size   : 15px;
    font-weight : bold;

    @media screen and (max-width : 1023px) {
      font-size : 14px;
    }


  }

  // .item-basket-list__props
  &__props {
  }

  // .item-basket-list__price
  &__price {
    font-size   : 15px;
    font-weight : bold;
    margin-left : 60px;
    white-space : nowrap;
    color       : #54585d;

    @media screen and (max-width : 1023px) {
      display : none;
    }
  }

  // .item-basket-list__price-total
  &__price-total {
    font-size   : 15px;
    font-weight : bold;
    margin-left : 90px;
    white-space : nowrap;
    color       : #54585d;


    @media screen and (max-width : 1023px) {
      margin : 0 auto;
    }
    @media screen and (max-width : 767px) {
      margin: 20px 0 0 80px;
    }
  }

  // .item-basket-list__footer
  &__footer {
    flex        : 0 0 auto;
    margin-left : 60px;

    @media screen and (max-width : 1023px) {
      margin-left : auto;
    }

    @media screen and (max-width : 767px) {
      position: absolute;
      bottom: 15px;
      right: 15px;
    }
  }

  // .item-basket-list__delete
  &__delete {
    flex : 0 0 19px;
  }

  // .item-basket-list__qty
  &__qty {
    margin-left : 30px;

    @media screen and (max-width : 1023px) {
      margin : 0 auto;
    }

    @media screen and (max-width : 767px) {
      margin: 20px 0 0 80px;
    }
  }

}

.item-basket-list:first-child {

  @mixin basket-table-headers {
    font-size   : 13px;
    font-weight : normal;
    font-style  : normal;
    line-height : 16px;
    position    : absolute;
    top         : -30px;
    display     : block;
    color       : #54585d;
    @media screen and (max-width : 1023px) {
      display : none;
    }
  }


  // .item-basket-list__image
  .item-basket-list__image {
    &::before {
      content : 'Фото';
      @include basket-table-headers;

    }
  }

  // .item-basket-list__info
  .item-basket-list__info {

    &::before {
      content : 'Наименование';
      @include basket-table-headers;
    }
  }

  // .item-basket-list__qty
  .item-basket-list__qty {

    &::before {
      content : 'Количество';
      @include basket-table-headers;
    }
  }

  // .item-basket-list__price
  .item-basket-list__price {

    &::before {
      content : 'Цена';
      @include basket-table-headers;
    }

  }

  // .item-basket-list__price-total
  .item-basket-list__price-total {

    &::before {
      content : 'Стоимость';
      @include basket-table-headers;
    }
  }

}


.props-item-basket-list {
  // .props-item-basket-list__item
  &__item {
  }
}

.prop-item-basket-list {
  font-size   : 13px;
  line-height : 16px;
  display     : inline-block;
  color       : rgb(84, 88, 93);

  // .prop-item-basket-list__name
  &__name {
  }

  // .prop-item-basket-list__value
  &__value {
  }
}

.prices-item-basket-list {
  // .prices-item-basket-list__price
  &__price {
  }
}
