.page-content {
  // .page-content__category
  &__category {
  }
}

.category {
  // .category--has-sidebar
  &--has-sidebar {
  }

  // .category__inner
  &__inner {
  }

  // .category__view
  &__view {

  }

  // .category__list
  &__list {
    margin-top : 13px;
  }

  // .category__footer
  &__footer {
    margin-top : 25px;
  }

  // .category__sorting-block
  &__sorting-block {

  }

  // .category__header
  &__header {
    display         : flex;
    justify-content : space-between;
    color           : #54585d;
  }

  // .category__filters
  &__filters {
    margin-bottom : 40px;
  }
}

.product-list-view {
  display         : flex;
  justify-content : flex-end;

  @media screen and (max-width : 767px) {
    display : none;
  }

  // .product-list-view--footer
  &--footer {

  }

  // .product-list-view__count
  &__count {
  }

  // .product-list-view__type
  &__type {
  }


}

.count-product-block {
  font-size   : 13px;
  line-height : 16px;
  color       : #54585d;

  // .count-product-block__btn
  &__btn {
    font-size   : inherit;
    line-height : inherit;
    color       : inherit;

    &--active,
    &:active,
    &:focus,
    &:hover {
      text-decoration : underline;

    }
  }
}

.type-product-block {
  margin-left : 70px;

  // .type-product-block__item
  &__item {
    margin-left : 10px;

    svg * {
      fill : #c4d3e6;
    }

    // .type-product-block__item--active
    &--active {
      svg * {
        fill : #526584;
      }

    }
  }
}

.product-list {
  display      : flex;
  flex-wrap    : wrap;
  margin-right : -7px;
  margin-left  : -7px;

  // .product-list__item
  &__item {
    $width    : calc(100% / 4 - 14px);
    flex      : 0 0 $width;
    max-width : $width;
    margin    : 0 7px 14px;

    @media screen and (max-width : 1023px) {
      $width    : calc(100% / 3 - 14px);
      flex      : 0 0 $width;
      max-width : $width;
    }

    @media screen and (max-width : 767px) {
      $width    : calc(100% / 2 - 14px);
      flex      : 1 1 $width;
      max-width : $width;
    }
  }

  // .product-list__item--list
  &__item--list {
    flex : 1 1 auto;
    max-width : 100%;
  }
}

.item-product {
  padding          : 15px 15px 25px 15px;
  border           : 1px solid #c4c4c4;
  background-color : #fff;

  &:active,
  &:focus,
  &:hover {
    box-shadow : 3px 4px 4px rgba(0, 0, 0, 0.25);
  }

  // .item-product__image
  &__image {
    display         : flex;
    justify-content : center;
    margin-bottom   : 6px;

  }

  // .item-product__info
  &__info {
  }

  // .item-product__name
  &__name {
    font-size       : 15px;
    font-weight     : bold;
    line-height     : 18px;
    display         : block;
    overflow        : hidden;
    height          : 35px;
    margin-bottom   : 5px;
    text-decoration : none;
    color           : $mainFontColor;
  }

  // .item-product__props
  &__props {
  }

  // .item-product__prices
  &__prices {
    margin-top : 20px;
  }

  // .item-product__footer
  &__footer {
    display         : flex;
    justify-content : space-between;
    margin-top      : 15px;
  }

  // .item-product__add-to-cart
  &__add-to-cart {
    font-size   : 13px;
    font-weight : bold;
    padding     : 8px 35px;
    text-align  : center;
    color       : rgb(255, 255, 255);


  }

  // .item-product__add-to-favorite
  &__add-to-favorite {
  }
}

.props-item-product {
  font-size   : 13px;
  font-weight : normal;
  line-height : 14px;
  color       : #54585d;


  // .props-item-product__item
  &__item {
  }
}

.prop-item-product {
  display         : flex;
  align-items     : flex-start;
  flex-wrap       : wrap;
  justify-content : space-between;
  margin-bottom   : 4px;

  // .prop-item-product__name
  &__name {
    flex : 0 0 50%;
  }

  // .prop-item-product__value
  &__value {
  }

}

.prices-item-product {
  // .prices-item-product__price
  &__price {
    font-size   : 24px;
    font-weight : bold;
    line-height : 1.17;
    white-space : nowrap;
    color       : #526584;
  }
}


.item-product-list {
  display          : flex;
  align-items      : center;
  justify-content  : space-between;
  box-sizing       : border-box;
  padding          : 15px 20px;
  border           : 1px solid #c4c4c4;
  background-color : #fff;

  // .item-product-list__image
  &__image {
    width        : 60px;
    height       : 60px;
    margin-right : 25px;
  }

  // .item-product-list__info
  &__info {
    max-width    : 500px;
    margin-right : auto;
  }

  // .item-product-list__name
  &__name {
    font-size   : 15px;
    font-weight : bold;
    color: #000;
    text-decoration: none;

  }

  // .item-product-list__props
  &__props {
    margin-top: 5px;
  }

  // .item-product-list__prices
  &__prices {
    margin-left : 50px;
  }

  // .item-product-list__footer
  &__footer {
    display     : flex;
    align-items : center;
    margin-left : 30px;
    margin-left : 30px;
  }

  // .item-product-list__add-to-cart
  &__add-to-cart {
    font-size   : 13px;
    font-weight : bold;
    padding     : 8px 38px;
    text-align  : center;
    color       : rgb(255, 255, 255);

  }

  // .item-product-list__add-to-favorite
  &__add-to-favorite {
    margin-left : 15px;
  }
}

.props-item-product-list {
  font-size   : 13px;
  line-height : 16px;
  color       : #54585d;



  // .props-item-product-list__item
  &__item {
  }
}

.prop-item-product-list {
  display : inline-block;
  // .prop-item-product-list__name
  &__name {
  }

  // .prop-item-product-list__value
  &__value {
  }
}

.prices-item-product-list {
  // .prices-item-product-list__price
  &__price {
    font-size   : 24px;
    font-weight : bold;
    line-height : 1.17;
    white-space : nowrap;
    color       : rgb(82, 101, 132);

  }
}


.product-list-sorting-block {

  // .product-list-sorting-block__inner
  &__inner {
    display     : flex;
    align-items : center;

    @media screen and (max-width : 767px) {
      font-size   : 12px;
      line-height : 15px;
      flex-wrap   : wrap;
    }
  }

  // .product-list-sorting-block__title
  &__title {
    margin-right : 15px;

    @media screen and (max-width : 767px) {
      flex : 0 0 100%;
    }
  }

  // .product-list-sorting-block__item
  &__item {
    display      : flex;
    align-items  : center;
    margin-right : 15px;

    @media screen and (max-width : 767px) {
      margin-right : 10px;
    }

    > svg {
      margin-left : 5px;
      fill        : #c4d3e6;

    }

    // .product-list-sorting-block__item--active
    &--active {
      > svg {
        fill : #526584;
      }
    }

    // .product-list-sorting-block__item--desc
    &--desc {
      > svg {
        transform : rotate(180deg);
      }
    }
  }
}

.product-list-filters-btn {
  font-size      : 11px;
  line-height    : 13px;
  display        : none;
  align-items    : center;
  max-width      : 140px;
  margin         : 20px auto;
  text-align     : center;
  white-space    : nowrap;
  text-transform : uppercase;
  color          : #54585d;

  // .product-list-filters-btn--open
  &--open {
    svg {
      transform : rotate(180deg);
    }
  }


  @media screen and (max-width : 767px) {
    display : flex;
  }

  svg {
    margin-left : 5px;
  }


}

.form-list-filters {


  @media screen and (max-width : 767px) {
    display : none;
  }


  // .form-list-filters--open
  &--open {
    display : block;


  }


  .form {


    // .form--list-filters .item-form
    .item-form {
      margin : 0;

      @media screen and (max-width : 767px) {
        margin : 15px 0;
      }
    }

    // .form--list-filters .form__group
    .form__group {
      margin-bottom : 0;
    }

    // .form--list-filters .form__row
    &__row {
      flex-wrap : wrap;

      @media screen and (max-width : 767px) {
        margin-right : 0;
        margin-left  : 0;
      }
    }

    .form__col {
      @media screen and (max-width : 767px) {
        flex          : 0 0 100%;
        padding-right : 0;
        padding-left  : 0;
      }
    }
  }

}
