.main-page {
  // .main-page__promo
  &__promo {
    margin-top : 60px;

    @media screen and (max-width : 1600px) {
      margin-top : 40px;
    }
  }
}

.promo-blocks {
  display      : flex;
  margin-right : -7px;
  margin-left  : -7px;


  @media screen and (max-width : 767px) {
    flex-wrap     : wrap;
    margin-top    : 18px;
    margin-bottom : -50px;
  }


  // .promo-blocks__item
  &__item {
    flex       : 1 1 calc(100% / 3 - 28px);
    min-width  : 290px;
    min-height : 191px;
    margin     : 0 7px;

    @media screen and (max-width : 1023px) {
      min-height : 145px;
    }

    @media screen and (max-width : 767px) {
      min-height    : 162px;
      margin-bottom : 20px;
      padding       : 16px 17px 30px;
    }
  }
}

.promo-block {
  line-height       : 1.3;
  display           : inline-block;
  padding           : 19px 20px 75px;
  text-decoration   : none;
  background-repeat : no-repeat;
  background-size   : cover;

  @media screen and (max-width : 1023px) {
    padding : 15px 20px 30px;
  }

  &:active,
  &:focus,
  &:hover {
    text-decoration : none;
  }

  // .promo-block--special
  &--special {
    background-image : url(../../img/pages/index/promo/1.jpg);
  }

  // .promo-block--popular
  &--popular {
    background-image : url(../../img/pages/index/promo/2.jpg);
  }

  // .promo-block--actions
  &--actions {
    background-image : url(../../img/pages/index/promo/3.jpg);
  }

  // .promo-block__title
  &__title {

    font-size      : 25px;
    font-weight    : bold;
    text-transform : uppercase;
    color          : #fff;


    @media screen and (max-width : 1023px) {
      font-size   : 20px;
      line-height : 24px;
    }

  }
}

.main-page {

  @media screen and (max-width : 1023px) {
    padding : 0;
  }

  // .index-page__slider
  &__slider {
    margin-top    : -40px;
    margin-bottom : 50px;
  }
}
