.page-content {
  // .page-content__basket
  &__basket {
  }
}

.order-page {
  // .order-page__product-list
  &__product-list {
  }
}

.order-product-list {


  // .order-product-list__inner
  &__inner {
  }

  // .order-product-list__item
  &__item {
    margin-bottom : 5px;
  }

  // .order-product-list__header
  &__header {
    display       : flex;
    align-items   : center;
    margin-top    : -10px;
    margin-bottom : 35px;

    @media screen and (max-width : 767px) {
      display : block;
    }
  }

  // .order-product-list__back
  &__back {
    font-size   : 12px;
    line-height : 1.58;
    display     : none;
    padding-top : 7px;
    color       : #000;

    @media screen and (max-width : 767px) {
      display : block;
    }
  }

  // .order-product-list__title
  &__title {
    font-size   : 20px;
    font-weight : bold;
    line-height : 1.5;

    @media screen and (max-width : 767px) {
      margin-top : 15px;
    }

  }

  // .order-product-list__delivered
  &__delivered {
    font-size   : 13px;
    line-height : 16px;
    margin-left : 30px;
    color       : #54585d;

    @media screen and (max-width : 767px) {
      margin-top  : 15px;
      margin-left : 0;
    }
  }

  // .order-product-list__actions
  &__actions {
    display : flex;

    @media screen and (max-width : 767px) {
      margin-top : 15px;
    }
  }


  // .order-product-list__btn
  &__btn {
    font-size       : 13px;
    line-height     : 16px;
    display         : flex;
    align-items     : center;
    margin-left     : 40px;
    text-decoration : underline;
    color           : #54585d;

    &:first-child {
      @media screen and (max-width : 767px) {
        margin-left : 0;
      }
    }

    &:active,
    &:focus,
    &:hover {
      text-decoration : none;
    }

    & > svg {
      margin-right : 5px
    }

    // .order-product-list__footer
    &__footer {
    }
  }
}

.item-order-product-list {
  position         : relative;
  display          : flex;
  align-items      : center;
  box-sizing       : border-box;
  padding          : 15px 100px 15px 20px;
  border           : 1px solid #f1efef;
  background-color : rgb(255, 255, 255);

  @media screen and (max-width : 1023px) {
    padding : 15px 20px 15px 20px;
  }

  @media screen and (max-width : 767px) {
    display      : block;
    padding-left : 100px;
  }

  // .item-order-product-list__image
  &__image {
    flex         : 0 0 auto;
    width        : 60px;
    height       : 60px;
    margin-right : 25px;

    @media screen and (max-width : 767px) {
      position : absolute;
      top      : 15px;
      left     : 20px;

    }
  }

  // .item-order-product-list__info
  &__info {
    max-width     : 500px;
    margin-right  : auto;
    padding-right : 15px;

  }

  // .item-order-product-list__name
  &__name {
    font-size       : 15px;
    font-weight     : bold;
    text-decoration : none;
    color           : $mainFontColor;
  }

  // .item-order-product-list__props
  &__props {
    margin-top : 3px;
  }

  // .item-order-product-list__qty
  &__qty {
    font-size     : 15px;
    font-weight   : bold;
    margin-right  : auto;
    margin-left   : auto;
    padding-right : 15px;
    padding-left  : 15px;
    color         : rgb(84, 88, 93);

    > span {
      display : none;

      @media screen and (max-width : 767px) {
        display : inline;
      }
    }

    @media screen and (max-width : 767px) {
      margin-top   : 5px;
      padding-left : 0;
    }
  }

  // .item-order-product-list__price
  &__price {
    font-size     : 15px;
    font-weight   : bold;
    margin-right  : auto;
    margin-left   : auto;
    padding-right : 15px;
    padding-left  : 15px;
    white-space   : nowrap;
    color         : rgb(84, 88, 93);

    @media screen and (max-width : 767px) {
      display : none;
    }

  }

  // .item-order-product-list__price-total
  &__price-total {
    font-size    : 15px;
    font-weight  : bold;
    margin-left  : auto;
    padding-left : 15px;
    white-space  : nowrap;
    color        : rgb(84, 88, 93);

    @media screen and (max-width : 767px) {
      margin-top   : 5px;
      padding-left : 0;
    }
  }
}

.props-item-order-product-list {
  // .props-item-order-product-list__item
  &__item {
  }
}

.prop-item-order-product-list {
  font-size   : 13px;
  line-height : 16px;
  display     : inline-block;
  color       : rgb(84, 88, 93);

  // .prop-item-order-product-list__name
  &__name {
  }

  // .prop-item-order-product-list__value
  &__value {
  }
}


.order-total-block {


  // .order-total-block__item
  &__item {
    display : flex;

    @media screen and (max-width : 1023px) {
      margin-right : auto;
      margin-left  : auto;
      padding      : 0 15px;
    }

    @media screen and (max-width : 910px) {
      display      : block;
      margin-top   : 15px;
      padding-left : 15px;
    }


    &:not(:last-child) {
      margin-right : 60px;

      @media screen and (max-width : 1023px) {
        margin-right : auto;
        padding-left : 0;
      }
      @media screen and (max-width : 910px) {
        padding-left : 15px;
      }
    }

    &:last-child {
      @media screen and (max-width : 1023px) {
        margin-right  : 0;
        padding-right : 0;
      }
      @media screen and (max-width : 910px) {
        padding-left : 15px;
      }
    }

    // .order-total-block__item--right
    &--right {
      margin-left : auto;
    }

    // .order-total-block__row--vat
    &--vat {
      margin-left : -25px;

      @media screen and (max-width : 910px) {
        margin-left  : 0px;
        padding-left : 15px;
      }
    }
  }

  // .order-total-block__title
  &__title {
    font-size      : 15px;
    font-weight    : bold;
    line-height    : 28px;
    margin-right   : 25px;
    text-transform : uppercase;
    color          : #54585d;

    // .order-total-block__title--vat
    &--vat {
      font-size      : 15px;
      font-weight    : normal;
      text-transform : lowercase;
    }
  }

  // .order-total-block__value
  &__value {
    font-size : 20px;
    color     : rgb(82, 101, 132);

    @media screen and (max-width : 910px) {
      margin-top : 5px;
    }


    // .order-total-block__value--big
    &--big {
      font-size   : 24px;
      font-weight : bold;
      line-height : 28px;
    }

    // .order-total-block__value--vat
    &--vat {
      font-size   : 15px;
      font-weight : normal;
      line-height : 28px;
      color       : #54585d
    }
  }

  // .order-total-block__inner
  &__inner {
    display : flex;
    padding : 30px 0;

    @media screen and (max-width : 910px) {
      padding : 0;
    }

    // .order-total-block__inner--top
    &--top {
      border-bottom : 1px solid #c4c4c4;

      @media screen and (max-width : 910px) {
        display : block;
        border  : none;
      }

    }

    // .order-total-block__inner--bottom
    &--bottom {
      justify-content : center;

      @media screen and (max-width : 910px) {
        display : block;
      }
    }

  }
}
