.page-content {
  // .page-content__personal
  &__personal {
  }
}

.personal-page {
  // .personal-page__inner
  &__inner {
    display : flex;

    @media screen and (max-width : 1023px) {
      display : block;
    }

  }

  // .personal-page__sidebar
  &__sidebar {
    width        : 100%;
    max-width    : 140px;
    margin-right : 40px;
  }

  // .personal-page__content
  &__content {
    flex : 1 1 auto;
  }
}

.sidebar-personal {

  // .sidebar-personal__nav
  &__nav {
  }

  // .sidebar-personal__sidebar-personal-menu
  &__sidebar-personal-menu {


  }
}

.sidebar-personal-menu {
  @media screen and (max-width : 1023px) {
    display : flex;
  }

  // .sidebar-personal-menu__item
  &__item {
  }

  // .sidebar-personal-menu__link
  &__link {
    font-size       : 13px;
    line-height     : 19px;
    display         : block;
    padding         : 5px 5px 5px 20px;

    text-decoration : none;
    color           : $mainFontColor;

    @media screen and (max-width : 1023px) {
      font-size : 12px;
      padding   : 6px 7px;
      white-space     : nowrap;
    }

    // .sidebar-personal-menu__link--active
    &--active,
    &:active,
    &:focus,
    &:hover {
      text-decoration  : none;
      color            : #fff;
      background-color : #526584;
    }
  }


}

.content-personal {
}
