.footer {
  margin-top       : 50px;
  color            : #fff;
  border-top       : 4px solid #f63;
  background-color : #1c2127;

  // .footer__phones
  &__phones {
    margin-top  : 4px;
    margin-left : 21px;

    @media screen and (max-width : 767px) {
      margin-left    : 8px;
      letter-spacing : -0.5px;
    }
  }

  // .footer__menus
  &__menus {
    margin-left : auto;

    @media screen and (max-width : 1023px) {
      margin-left : 0;

    }
  }

  // .footer__nav
  &__nav {
    display    : flex;
    margin-top : 19px;

    @media screen and (max-width : 1023px) {
      margin-top : 37px;
    }

    @media screen and (max-width : 767px) {
      flex-direction : column;
      margin-top     : 20px;
    }
  }

  // .footer__catalog
  &__catalog {
    margin-right : 85px;

  }

  // .footer__main-menu
  &__main-menu {


  }

  // .footer__top
  &__top {
    display : flex;

    @media screen and (max-width : 1600px) {

    }
    @media screen and (max-width : 1023px) {
      flex-wrap : wrap;
    }

  }

  // .footer__middle
  &__middle {
    font-size       : 14px;
    display         : flex;
    justify-content : space-between;
    margin-top      : 75px;
    color           : #808285;

    @media screen and (max-width : 767px) {
      flex-direction : column;
      margin-top     : 30px;
    }
  }

  // .footer__block
  &__block {

    // .footer__block--1
    &--1 {
      display     : flex;
      align-items : center;
      flex-wrap   : wrap;

      @media screen and (max-width : 1023px) {
        width : 100%;
      }

    }
  }

  // .footer__promo
  &__promo {
    font-size            : 14px;
    font-weight          : normal;
    line-height          : 17px;
    flex                 : 1 1 100%;
    margin-top           : 23px;
    color                : #fff;
    text-decoration-line : underline;

    @media screen and (max-width : 1023px) {
      align-self  : flex-start;
      flex        : 0 0 auto;
      margin-top  : 22px;
      margin-left : auto;

    }

    @media screen and (max-width : 767px) {
      flex        : 0 0 100%;
      margin-left : 0;
    }

    &:active,
    &:focus,
    &:hover {
      text-decoration : none;
      color           : #fff;
    }
  }

  // .footer__company
  &__company {
    font-size   : 16px;
    font-weight : normal;
    line-height : 19px;
    color       : rgba(255, 255, 255, 0.8);

  }

  // .footer__socials
  &__socials {
    position : relative;
    top      : -15px;

    @media screen and (max-width : 767px) {
      top        : 0;
      margin-top : 20px;
    }
  }

  // .footer__bottom
  &__bottom {
    font-size       : 11px;
    line-height     : 13px;
    position        : relative;
    display         : flex;
    justify-content : space-between;
    margin-top      : 2px;
    padding-top     : 14px;
    padding-bottom  : 35px;
    color           : rgba(255, 255, 255, 0.8);

    @media screen and (max-width : 767px) {
      flex-wrap      : wrap;
      margin-top     : 20px;
      padding-top    : 20px;
      padding-bottom : 15px;
    }

    &::after {
      content          : '';
      position         : absolute;
      top              : 0;
      left             : calc(-100vw / 2 + 50%);
      display          : block;
      width            : 100vw;
      height           : 1px;
      background-color : rgba(255, 255, 255, 0.3);
    }

    a {
      text-decoration : underline;
    }
  }

  // .footer__law
  &__law {

    @media screen and (max-width : 767px) {
      flex : 0 0 100%;
    }
  }

  // .footer__copyright
  &__copyright {
    margin-top : 5px;

    @media screen and (max-width : 767px) {
      margin-top : 25px;
    }


    a {
      color : rgba(255, 255, 255, 0.8);
    }


  }

  // .footer__year
  &__year {
    margin-top : 5px;

    @media screen and (max-width : 767px) {
      margin-top : 25px;
    }
  }

  // .footer__logo
  &__logo {
    display         : flex;
    align-items     : center;
    justify-content : center;
    width           : 197px;
    height          : 83px;

    @media screen and (max-width : 1600px) {
      width  : 176px;
      height : 83px;
    }

    @media screen and (max-width : 1340px) {
      margin-left : -30px;
    }

    @media screen and (max-width : 1023px) {
      width       : 167px;
      height      : 83px;
      margin-left : -15px;
    }

    @media screen and (max-width : 767px) {
      width  : 150px;
      height : 75px;
    }


  }
}


.logo {


  // .logo__image
  &__image {

    @media screen and (max-width : 1600px) {
      width  : 124px;
      height : 25px;
    }
    @media screen and (max-width : 767px) {
      width  : 112px;
      height : 22px;
    }
  }
}


.phones-block-v1 {
  // .phones-block-v1__item
  &__item {
    font-size       : 16px;
    font-weight     : bold;
    line-height     : 19px;
    display         : block;
    white-space     : nowrap;
    text-decoration : none;
    color           : #fff;

    @media screen and (max-width : 767px) {
      font-size   : 14px;
      line-height : 17px;
    }


    &:first-child {
      margin-bottom : 8px;
    }

    &:active,
    &:focus,
    &:hover {
      text-decoration : none;
      color           : #fff;
    }

  }
}


.bottom-menu {
  display   : flex;
  flex      : 0 0 410px;
  flex-wrap : wrap;

  @media screen and (max-width : 767px) {
    flex           : auto;
    flex-direction : column;
    margin-top     : 10px;
  }


  // .bottom-menu__item
  &__item {
    margin  : 0;
    padding : 0 15px 0 0;

    &:not(:last-child) {
      margin-bottom : 6px;
    }

    &:nth-child(odd) {
      flex : 0 0 220px;

      @media screen and (max-width : 1600px) {
        flex : 0 0 142px;
      }

      @media screen and (max-width : 767px) {
        flex : auto;
      }
    }

    &:nth-child(even) {
      flex : 0 0 190px;

      @media screen and (max-width : 1600px) {
        flex : 0 0 142px;
      }
      @media screen and (max-width : 767px) {
        flex : auto;
      }
    }
  }

  // .bottom-menu__link
  &__link {
    font-size       : 13px;
    line-height     : 16px;
    display         : inline-block;
    text-decoration : none;
    color           : #fff;

    // .bottom-menu__link--active
    &--active,
    &:active,
    &:focus,
    &:hover {
      text-decoration : underline;
      color           : #fff;
    }

  }
}

.bottom-catalog {
  // .bottom-catalog__item
  &__item {
    margin : 0;

    &:not(:last-child) {
      margin-bottom : 6px;
    }
  }

  // .bottom-catalog__link
  &__link {
    font-size       : 13px;
    font-weight     : normal;
    line-height     : 16px;
    white-space     : nowrap;
    text-decoration : none;
    color           : #fff;

    // .bottom-catalog__link--active
    &--active,
    &:active,
    &:focus,
    &:hover {
      text-decoration : underline;
      color           : #fff;
    }

  }
}

.socials-block {
  display      : flex;
  margin-right : -10px;
  margin-left  : -10px;

  // .socials-block__item
  &__item {
    display       : inline-block;
    overflow      : hidden;
    width         : 30px;
    height        : 30px;
    margin-right  : 10px;
    margin-left   : 10px;
    border-radius : 50%;


    // .socials-block__item--fb
    &--fb {

    }

    // .socials-block__item--vk
    &--vk {

    }

    // .socials-block__item--in
    &--in {

    }
  }
}

.law-block {
  // .law-block__item
  &__item {
    display         : block;
    text-decoration : underline;
    color           : rgba(255, 255, 255, 0.8);

    &:not(:last-child) {
      margin-bottom : 13px;
    }
  }
}


.write-us-btn {
  font-size        : 13px;
  line-height      : 16px;
  position         : fixed;
  z-index          : 100;
  right            : 0;
  bottom           : 60px;
  display          : flex;
  padding          : 15px 30px 13px 20px;
  color            : #fff;
  background-color : $accentColor;

  @media screen and (max-width : 1023px) {
    display : none;
  }

  // .write-us-btn__icon
  &__icon {
    position     : relative;
    top          : 2px;
    margin-right : 12px;
  }

}


.phone-item {
  // .phone-item--footer
  &--footer {
    display : block;
  }


  // .phone-item__title
  &__title {
    // .phone-item__title--footer
    &--footer {
      font-size   : 10px;
      font-weight : normal;
      line-height : inherit;
    }
  }

  // .phone-item__phone
  &__phone {
    // .phone-item__phone--footer
    &--footer {
      font-size       : 15px;
      font-weight     : bold;
      text-decoration : none;
      color           : #fff;
    }
  }
}
