.sidebar {
  max-width     : $sidebarWidth;
  margin-right  : 20px;
  margin-bottom : -50px;
  background    : rgba(196, 211, 230, 0.5);

  @media screen and (max-width : 1340px) {
    margin-left : -30px ;
  }

  @media screen and (max-width : 1023px) {
    display : none;
  }


  // .sidebar__nav
  &__nav {
  }

  // .sidebar__sidebar-menu
  &__sidebar-menu {
  }
}

.sidebar-menu {
  // .sidebar-menu__item
  &__item {
    margin-bottom : 10px;


    // .sidebar-menu__item--has-submenu
    &--has-submenu {
    }
  }

  // .sidebar-menu__link
  &__link {
    font-size   : 16px;
    line-height : 19px;
    display     : block;
    padding     : 5px 20px;
    color       : #000;
    text-decoration : none;

    &--active,
    &:active,
    &:focus,
    &:hover {
      text-decoration  : none;
      color            : #fff;
      background-color : #526584;
    }
  }

  // .sidebar-menu__catalog-submenu
  &__catalog-submenu {
    padding-left : 35px;
    padding-top: 3px;
  }
}

.catalog-submenu {
  // .catalog-submenu__item
  &__item {
    margin : 0;
  }

  // .catalog-submenu__link
  &__link {
    font-size : 13px;
    display   : block;
    padding   : 8px 20px 8px 9px;
    color : $mainFontColor;
    text-decoration : none;


    // .catalog-submenu__link--active
    &--active,
    &:active,
    &:focus,
    &:hover {
      text-decoration  : none;
      color            : #fff;
      background-color : #526584;
    }


  }
}
