.total-block {
  font-size   : 15px;
  line-height : 28px;
  color       : #54585d;

  // .total-block__row
  &__row {
    display         : flex;
    justify-content : space-between;
    margin-bottom : 16px ;
    align-items : baseline;

    // .total-block__row--vat
    &--vat {
    }
  }

  // .total-block__title
  &__title {
    font-weight : bold;
    font-size: 15px;
    text-transform: uppercase;

    // .total-block__title--vat
    &--vat {
      font-weight : normal;
      font-size: 15px;
      text-transform : none;

    }
  }

  // .total-block__value
  &__value {
    font-size   : 20px;
    line-height : 1;
    color       : #526584;

    // .total-block__value--big
    &--big {
      font-size   : 24px;
      font-weight : bold;

    }

    // .total-block__value--vat
    &--vat {
      font-weight : normal;
      font-size: 15px;

    }
  }
}
