<% var data = {
title: "Заголовок | Проект",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container">
  <div class="container__inner">

    <%= _.template(require('./../includes/breadcrumbs.html').default)(data) %>
    <h1 class="page-content__title">Корзина</h1>

    <div class="page-content__basket basket-page">

      <div class="basket-page__list basket-list">

        <div class="basket-list__inner">


          <div class="basket-list__item  item-basket-list">


            <div class="item-basket-list__wrapper">
              <div class="item-basket-list__image">

                <img
                  src="uploads/basket/1.png"
                  alt="">
              </div>
              <div class="item-basket-list__info">
                <a
                  href=""
                  class="item-basket-list__name">
                  Колесо дисковое 533-310
                </a>
                <div class="item-basket-list__props props-item-basket-list">

                  <div class="props-item-basket-list__item prop-item-basket-list">
                    <span class="prop-item-basket-list__name">Вес:</span>
                    <span class="prop-item-basket-list__value">25 кг</span>
                  </div>
                  <div class="props-item-basket-list__item prop-item-basket-list">
                    <span class="prop-item-basket-list__name">Материал:</span>
                    <span class="prop-item-basket-list__value">Алюминий</span>
                  </div>
                  <div class="props-item-basket-list__item prop-item-basket-list">
                    <span class="prop-item-basket-list__name">Габаритные размеры:</span>
                    <span class="prop-item-basket-list__value">25*25*25 см</span>
                  </div>

                </div>
              </div>
            </div>

            <% data.addClass = 'item-basket-list__qty' %>
            <%= _.template(require('./../includes/qty-block.html').default)(data) %>

            <div class="item-basket-list__price">
              11 000,25 руб.
            </div>
            <div class="item-basket-list__price-total">
              22 000,25 руб.
            </div>
            <div class="item-basket-list__footer">
              <button
                type="button"
                class="item-basket-list__delete btn--clear"
                aria-label="Удалить из корзины ">
                <svg
                  width="19"
                  height="25">
                  <use xlink:href="img/spritemap.svg#sprite-trash-can"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="basket-list__item  item-basket-list">


            <div class="item-basket-list__wrapper">
              <div class="item-basket-list__image">

                <img
                  src="uploads/basket/1.png"
                  alt="">
              </div>
              <div class="item-basket-list__info">
                <a
                  href=""
                  class="item-basket-list__name">
                  Колесо дисковое 533-310
                </a>
                <div class="item-basket-list__props props-item-basket-list">

                  <div class="props-item-basket-list__item prop-item-basket-list">
                    <span class="prop-item-basket-list__name">Вес:</span>
                    <span class="prop-item-basket-list__value">25 кг</span>
                  </div>
                  <div class="props-item-basket-list__item prop-item-basket-list">
                    <span class="prop-item-basket-list__name">Материал:</span>
                    <span class="prop-item-basket-list__value">Алюминий</span>
                  </div>
                  <div class="props-item-basket-list__item prop-item-basket-list">
                    <span class="prop-item-basket-list__name">Габаритные размеры:</span>
                    <span class="prop-item-basket-list__value">25*25*25 см</span>
                  </div>

                </div>
              </div>
            </div>

            <% data.addClass = 'item-basket-list__qty' %>
            <%= _.template(require('./../includes/qty-block.html').default)(data) %>

            <div class="item-basket-list__price">
              11 000,25 руб.
            </div>
            <div class="item-basket-list__price-total">
              22 000,25 руб.
            </div>
            <div class="item-basket-list__footer">
              <button
                type="button"
                class="item-basket-list__delete btn--clear"
                aria-label="Удалить из корзины ">
                <svg
                  width="19"
                  height="25">
                  <use xlink:href="img/spritemap.svg#sprite-trash-can"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="basket-list__item  item-basket-list">


            <div class="item-basket-list__wrapper">
              <div class="item-basket-list__image">

                <img
                  src="uploads/basket/1.png"
                  alt="">
              </div>
              <div class="item-basket-list__info">
                <a
                  href=""
                  class="item-basket-list__name">
                  Колесо дисковое 533-310
                </a>
                <div class="item-basket-list__props props-item-basket-list">

                  <div class="props-item-basket-list__item prop-item-basket-list">
                    <span class="prop-item-basket-list__name">Вес:</span>
                    <span class="prop-item-basket-list__value">25 кг</span>
                  </div>
                  <div class="props-item-basket-list__item prop-item-basket-list">
                    <span class="prop-item-basket-list__name">Материал:</span>
                    <span class="prop-item-basket-list__value">Алюминий</span>
                  </div>
                  <div class="props-item-basket-list__item prop-item-basket-list">
                    <span class="prop-item-basket-list__name">Габаритные размеры:</span>
                    <span class="prop-item-basket-list__value">25*25*25 см</span>
                  </div>

                </div>
              </div>
            </div>

            <% data.addClass = 'item-basket-list__qty' %>
            <%= _.template(require('./../includes/qty-block.html').default)(data) %>

            <div class="item-basket-list__price">
              11 000,25 руб.
            </div>
            <div class="item-basket-list__price-total">
              22 000,25 руб.
            </div>
            <div class="item-basket-list__footer">
              <button
                type="button"
                class="item-basket-list__delete btn--clear"
                aria-label="Удалить из корзины ">
                <svg
                  width="19"
                  height="25">
                  <use xlink:href="img/spritemap.svg#sprite-trash-can"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="basket-list__item  item-basket-list">


            <div class="item-basket-list__wrapper">
              <div class="item-basket-list__image">

                <img
                  src="uploads/basket/1.png"
                  alt="">
              </div>
              <div class="item-basket-list__info">
                <a
                  href=""
                  class="item-basket-list__name">
                  Колесо дисковое 533-310
                </a>
                <div class="item-basket-list__props props-item-basket-list">

                  <div class="props-item-basket-list__item prop-item-basket-list">
                    <span class="prop-item-basket-list__name">Вес:</span>
                    <span class="prop-item-basket-list__value">25 кг</span>
                  </div>
                  <div class="props-item-basket-list__item prop-item-basket-list">
                    <span class="prop-item-basket-list__name">Материал:</span>
                    <span class="prop-item-basket-list__value">Алюминий</span>
                  </div>
                  <div class="props-item-basket-list__item prop-item-basket-list">
                    <span class="prop-item-basket-list__name">Габаритные размеры:</span>
                    <span class="prop-item-basket-list__value">25*25*25 см</span>
                  </div>

                </div>
              </div>
            </div>

            <% data.addClass = 'item-basket-list__qty' %>
            <%= _.template(require('./../includes/qty-block.html').default)(data) %>

            <div class="item-basket-list__price">
              11 000,25 руб.
            </div>
            <div class="item-basket-list__price-total">
              22 000,25 руб.
            </div>
            <div class="item-basket-list__footer">
              <button
                type="button"
                class="item-basket-list__delete btn--clear"
                aria-label="Удалить из корзины ">
                <svg
                  width="19"
                  height="25">
                  <use xlink:href="img/spritemap.svg#sprite-trash-can"></use>
                </svg>
              </button>
            </div>
          </div>




        </div>
      </div>

      <div class="basket-list__footer">
        <%= _.template(require('./../includes/total-block.html').default)(data) %>
        <button
          onclick="document.location.href = 'checkout.html'"
          class="basket-list__btn form__btn btn btn--orange btn--fill"
                type="submit">Оформить заказ
        </button>
      </div>


    </div>
  </div>


</div>

<%= _.template(require('./../includes/footer.html'). default)(data) %>
