<% var data = {
title: "Заголовок | Проект",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container">
  <%= _.template(require('./../includes/breadcrumbs.html').default)(data) %>
  <h1 class="page-content__title">Запасные детали УРАЛ</h1>
  <div class="page-content__catalog catalog">
    <div class="catalog__item item-catalog">
      <div class="item-catalog__image">
        <img src="uploads/catalog/1.png"
             alt="">
      </div>
      <div class="item-catalog__list list-item-catalog">
        <a href="category.html"
           class="list-item-catalog__title">
          Двигатель
        </a>
        <ul class="list-item-catalog__list list--clear">
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Система питания</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Система охлаждения</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Система выпуска</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Подвеска двигателя</a></li>
        </ul>
      </div>
    </div>
    <div class="catalog__item item-catalog">
      <div class="item-catalog__image">
        <img src="uploads/catalog/2.png"
             alt="">
      </div>
      <div class="item-catalog__list list-item-catalog">
        <a href="category.html"
           class="list-item-catalog__title">
          Трансмиссия
        </a>
        <ul class="list-item-catalog__list list--clear">
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Сцепление</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Коробка переключения передач</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Раздаточная коробка</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Карданные валы</a></li>
          <li class="list-item-catalog__more-item">
            <a href=""
               class="list-item-catalog__more-link">+2</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="catalog__item item-catalog">
      <div class="item-catalog__image">
        <img src="uploads/catalog/3.png"
             alt="">
      </div>
      <div class="item-catalog__list list-item-catalog">
        <a href="category.html"
           class="list-item-catalog__title">
          Ходовая часть
        </a>
        <ul class="list-item-catalog__list list--clear">
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Буксирный прибор</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Рессоры</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Ось балансира</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Ступицы</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Тормозные барабаны</a></li>
        </ul>
      </div>
    </div>
    <div class="catalog__item item-catalog">
      <div class="item-catalog__image">
        <img src="uploads/catalog/4.png"
             alt="">
      </div>
      <div class="item-catalog__list list-item-catalog">
        <a href="category.html"
           class="list-item-catalog__title">
          Рулевое управление
        </a>
        <ul class="list-item-catalog__list list--clear">
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Рулевой механизм</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Колесо и вал рулевого управления</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Усилительный механизм</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Масляный бак</a></li>
        </ul>
      </div>
    </div>
    <div class="catalog__item item-catalog">
      <div class="item-catalog__image">
        <img src="uploads/catalog/5.png"
             alt="">
      </div>
      <div class="item-catalog__list list-item-catalog">
        <a href="category.html"
           class="list-item-catalog__title">
          Тормозная система
        </a>
        <ul class="list-item-catalog__list list--clear">
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Рабочий тормоз</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Стояночный тормоз</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Пневмогидравлический усилитель тормоза</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Воздушные баллоны</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Трубопроводы и шланги</a></li>
        </ul>
      </div>
    </div>
    <div class="catalog__item item-catalog">
      <div class="item-catalog__image">
        <img src="uploads/catalog/6.png"
             alt="">
      </div>
      <div class="item-catalog__list list-item-catalog">
        <a href="category.html"
           class="list-item-catalog__title">
          Электро оборудование
        </a>
        <ul class="list-item-catalog__list list--clear">
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Фары, фонари</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">АКБ</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Панель приборов</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Щитки выключателей</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Жгуты проводов</a></li>
        </ul>
      </div>
    </div>
    <div class="catalog__item item-catalog">
      <div class="item-catalog__image">
        <img src="uploads/catalog/7.png"
             alt="">
      </div>
      <div class="item-catalog__list list-item-catalog">
        <a href="category.html"
           class="list-item-catalog__title">
          Инструмент и принадлежности

        </a>
        <ul class="list-item-catalog__list list--clear">
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Инструментальный ящик</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Набор инструмента</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Вспомогательный инструмент</a></li>
        </ul>
      </div>
    </div>
    <div class="catalog__item item-catalog">
      <div class="item-catalog__image">
        <img src="uploads/catalog/8.png"
             alt="">
      </div>
      <div class="item-catalog__list list-item-catalog">
        <a href="category.html"
           class="list-item-catalog__title">
          Кабина и оперение
        </a>
        <ul class="list-item-catalog__list list--clear">
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Оперение</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Двери кабины</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Сидения</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Стекла</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Облицовка радиатора</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Стеклоочистители</a></li>
        </ul>
      </div>
    </div>
    <div class="catalog__item item-catalog">
      <div class="item-catalog__image">
        <img src="uploads/catalog/9.png"
             alt="">
      </div>
      <div class="item-catalog__list list-item-catalog">
        <a href="category.html"
           class="list-item-catalog__title">
          Платформа
          и кузов
        </a>
        <ul class="list-item-catalog__list list--clear">
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Сцепление</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Раздаточная коробка</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Карданные валы</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Мосты</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Редуктора</a></li>
        </ul>
      </div>
    </div>
    <div class="catalog__item item-catalog">
      <div class="item-catalog__image">
        <img src="uploads/catalog/10.png"
             alt="">
      </div>
      <div class="item-catalog__list list-item-catalog">
        <a href="category.html"
           class="list-item-catalog__title">
          Нормали
        </a>
        <ul class="list-item-catalog__list list--clear">
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Хомуты</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Болты</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Гайки</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Шайбы</a></li>
        </ul>
      </div>
    </div>
    <div class="catalog__item item-catalog">
      <div class="item-catalog__image">
        <img src="uploads/catalog/11.png"
             alt="">
      </div>
      <div class="item-catalog__list list-item-catalog">
        <a href="category.html"
           class="list-item-catalog__title">
          Подшипники
        </a>
        <ul class="list-item-catalog__list list--clear">
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Роликоподшипники</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Шарикоподшипники</a></li>
        </ul>
      </div>
    </div>
    <div class="catalog__item item-catalog">
      <div class="item-catalog__image">
        <img src="uploads/catalog/12.png"
             alt="">
      </div>
      <div class="item-catalog__list list-item-catalog">
        <a href="category.html"
           class="list-item-catalog__title">
          Ремни, РТИ
        </a>
        <ul class="list-item-catalog__list list--clear">
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Ремни безопасности</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Ремни привода</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Ремкомплекты</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Манжеты</a></li>
          <li class="list-item-catalog__item"><a class="list-item-catalog__link" href="">Кольца</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
