<% var data = {
title: "Заголовок | Проект",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container container--has-sidebar">
  <%= _.template(require('./../includes/sidebar.html').default)(data) %>
  <div class="container__inner">

    <%= _.template(require('./../includes/breadcrumbs.html').default)(data) %>
    <h1 class="page-content__title">Рулевое управление</h1>

    <div class="page-content__category category">

      <div class="category__inner">
        <div class="category__view product-list-view">
          <div class="product-list-view__count count-product-block">
            Показать по
            <button
              type="button"
              class="count-product-block__btn">12
            </button>
            <button
              type="button"
              class="count-product-block__btn">24
            </button>
          </div>
          <div class="product-list-view__type type-product-block">
            <a href="category--list.html"
               type="button"
               class="type-product-block__item type-product-block__item--active btn--clear">
              <svg

                width="16"
                height="12">
                <use xlink:href="img/spritemap.svg#sprite-type-product-block--list"></use>
              </svg>
            </a>
            <a href="category.html"
               type="button"
               class="type-product-block__item btn--clear">
              <svg
                width="17"
                height="12">
                <use xlink:href="img/spritemap.svg#sprite-type-product-block--tile"></use>
              </svg>
            </a>
          </div>

        </div>
        <div class="category__list product-list">


          <!-- list-->
          <div class="product-list__item product-list__item--list item-product-list">
            <a href="product.html"
               class="item-product-list__image">
              <img
                src="uploads/category/1.png"
                alt="">
            </a>
            <div class="item-product-list__info">
              <a
                href="product.html"
                class="item-product-list__name">
                Колесо дисковое 533-310
              </a>
              <div class="item-product-list__props props-item-product-list">

                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Вес:</span>
                  <span class="prop-item-product-list__value">25 кг</span>
                </div>
                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Материал:</span>
                  <span class="prop-item-product-list__value">Алюминий</span>
                </div>
                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Габаритные размеры:</span>
                  <span class="prop-item-product-list__value">25*25*25 см</span>
                </div>

              </div>
            </div>
            <div class="item-product-list__prices prices-item-product-list">
              <div class="prices-item-product-list__price">
                11 000,25 руб.
              </div>
            </div>
            <div class="item-product-list__footer">
              <button
                type="button"
                class="item-product-list__add-to-cart btn btn--fill btn--orange">
                Купить
              </button>
              <button
                type="button"
                class="item-product-list__add-to-favorite btn--clear"
                aria-label="Добавить в избранное">
                <svg
                  width="21"
                  height="27">
                  <use xlink:href="img/spritemap.svg#sprite-favorite"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="product-list__item product-list__item--list item-product-list">
            <a href="product.html"
               class="item-product-list__image">
              <img
                src="uploads/category/1.png"
                alt="">
            </a>
            <div class="item-product-list__info">
              <a
                href="product.html"
                class="item-product-list__name">
                Колесо дисковое 533-310
              </a>
              <div class="item-product-list__props props-item-product-list">

                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Вес:</span>
                  <span class="prop-item-product-list__value">25 кг</span>
                </div>
                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Материал:</span>
                  <span class="prop-item-product-list__value">Алюминий</span>
                </div>
                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Габаритные размеры:</span>
                  <span class="prop-item-product-list__value">25*25*25 см</span>
                </div>

              </div>
            </div>
            <div class="item-product-list__prices prices-item-product-list">
              <div class="prices-item-product-list__price">
                11 000,25 руб.
              </div>
            </div>
            <div class="item-product-list__footer">
              <button
                type="button"
                class="item-product-list__add-to-cart btn btn--fill btn--orange">
                Купить
              </button>
              <button
                type="button"
                class="item-product-list__add-to-favorite btn--clear"
                aria-label="Добавить в избранное">
                <svg
                  width="21"
                  height="27">
                  <use xlink:href="img/spritemap.svg#sprite-favorite"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="product-list__item product-list__item--list item-product-list">
            <a href="product.html"
               class="item-product-list__image">
              <img
                src="uploads/category/1.png"
                alt="">
            </a>
            <div class="item-product-list__info">
              <a
                href="product.html"
                class="item-product-list__name">
                Колесо дисковое 533-310
              </a>
              <div class="item-product-list__props props-item-product-list">

                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Вес:</span>
                  <span class="prop-item-product-list__value">25 кг</span>
                </div>
                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Материал:</span>
                  <span class="prop-item-product-list__value">Алюминий</span>
                </div>
                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Габаритные размеры:</span>
                  <span class="prop-item-product-list__value">25*25*25 см</span>
                </div>

              </div>
            </div>
            <div class="item-product-list__prices prices-item-product-list">
              <div class="prices-item-product-list__price">
                11 000,25 руб.
              </div>
            </div>
            <div class="item-product-list__footer">
              <button
                type="button"
                class="item-product-list__add-to-cart btn btn--fill btn--orange">
                Купить
              </button>
              <button
                type="button"
                class="item-product-list__add-to-favorite btn--clear"
                aria-label="Добавить в избранное">
                <svg
                  width="21"
                  height="27">
                  <use xlink:href="img/spritemap.svg#sprite-favorite"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="product-list__item product-list__item--list item-product-list">
            <a href="product.html"
               class="item-product-list__image">
              <img
                src="uploads/category/1.png"
                alt="">
            </a>
            <div class="item-product-list__info">
              <a
                href="product.html"
                class="item-product-list__name">
                Колесо дисковое 533-310
              </a>
              <div class="item-product-list__props props-item-product-list">

                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Вес:</span>
                  <span class="prop-item-product-list__value">25 кг</span>
                </div>
                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Материал:</span>
                  <span class="prop-item-product-list__value">Алюминий</span>
                </div>
                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Габаритные размеры:</span>
                  <span class="prop-item-product-list__value">25*25*25 см</span>
                </div>

              </div>
            </div>
            <div class="item-product-list__prices prices-item-product-list">
              <div class="prices-item-product-list__price">
                11 000,25 руб.
              </div>
            </div>
            <div class="item-product-list__footer">
              <button
                type="button"
                class="item-product-list__add-to-cart btn btn--fill btn--orange">
                Купить
              </button>
              <button
                type="button"
                class="item-product-list__add-to-favorite btn--clear"
                aria-label="Добавить в избранное">
                <svg
                  width="21"
                  height="27">
                  <use xlink:href="img/spritemap.svg#sprite-favorite"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="product-list__item product-list__item--list item-product-list">
            <a href="product.html"
               class="item-product-list__image">
              <img
                src="uploads/category/1.png"
                alt="">
            </a>
            <div class="item-product-list__info">
              <a
                href="product.html"
                class="item-product-list__name">
                Колесо дисковое 533-310
              </a>
              <div class="item-product-list__props props-item-product-list">

                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Вес:</span>
                  <span class="prop-item-product-list__value">25 кг</span>
                </div>
                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Материал:</span>
                  <span class="prop-item-product-list__value">Алюминий</span>
                </div>
                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Габаритные размеры:</span>
                  <span class="prop-item-product-list__value">25*25*25 см</span>
                </div>

              </div>
            </div>
            <div class="item-product-list__prices prices-item-product-list">
              <div class="prices-item-product-list__price">
                11 000,25 руб.
              </div>
            </div>
            <div class="item-product-list__footer">
              <button
                type="button"
                class="item-product-list__add-to-cart btn btn--fill btn--orange">
                Купить
              </button>
              <button
                type="button"
                class="item-product-list__add-to-favorite btn--clear"
                aria-label="Добавить в избранное">
                <svg
                  width="21"
                  height="27">
                  <use xlink:href="img/spritemap.svg#sprite-favorite"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="product-list__item product-list__item--list item-product-list">
            <a href="product.html"
               class="item-product-list__image">
              <img
                src="uploads/category/1.png"
                alt="">
            </a>
            <div class="item-product-list__info">
              <a
                href="product.html"
                class="item-product-list__name">
                Колесо дисковое 533-310
              </a>
              <div class="item-product-list__props props-item-product-list">

                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Вес:</span>
                  <span class="prop-item-product-list__value">25 кг</span>
                </div>
                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Материал:</span>
                  <span class="prop-item-product-list__value">Алюминий</span>
                </div>
                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Габаритные размеры:</span>
                  <span class="prop-item-product-list__value">25*25*25 см</span>
                </div>

              </div>
            </div>
            <div class="item-product-list__prices prices-item-product-list">
              <div class="prices-item-product-list__price">
                11 000,25 руб.
              </div>
            </div>
            <div class="item-product-list__footer">
              <button
                type="button"
                class="item-product-list__add-to-cart btn btn--fill btn--orange">
                Купить
              </button>
              <button
                type="button"
                class="item-product-list__add-to-favorite btn--clear"
                aria-label="Добавить в избранное">
                <svg
                  width="21"
                  height="27">
                  <use xlink:href="img/spritemap.svg#sprite-favorite"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="product-list__item product-list__item--list item-product-list">
            <a href="product.html"
               class="item-product-list__image">
              <img
                src="uploads/category/1.png"
                alt="">
            </a>
            <div class="item-product-list__info">
              <a
                href="product.html"
                class="item-product-list__name">
                Колесо дисковое 533-310
              </a>
              <div class="item-product-list__props props-item-product-list">

                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Вес:</span>
                  <span class="prop-item-product-list__value">25 кг</span>
                </div>
                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Материал:</span>
                  <span class="prop-item-product-list__value">Алюминий</span>
                </div>
                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Габаритные размеры:</span>
                  <span class="prop-item-product-list__value">25*25*25 см</span>
                </div>

              </div>
            </div>
            <div class="item-product-list__prices prices-item-product-list">
              <div class="prices-item-product-list__price">
                11 000,25 руб.
              </div>
            </div>
            <div class="item-product-list__footer">
              <button
                type="button"
                class="item-product-list__add-to-cart btn btn--fill btn--orange">
                Купить
              </button>
              <button
                type="button"
                class="item-product-list__add-to-favorite btn--clear"
                aria-label="Добавить в избранное">
                <svg
                  width="21"
                  height="27">
                  <use xlink:href="img/spritemap.svg#sprite-favorite"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="product-list__item product-list__item--list item-product-list">
            <a href="product.html"
               class="item-product-list__image">
              <img
                src="uploads/category/1.png"
                alt="">
            </a>
            <div class="item-product-list__info">
              <a
                href="product.html"
                class="item-product-list__name">
                Колесо дисковое 533-310
              </a>
              <div class="item-product-list__props props-item-product-list">

                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Вес:</span>
                  <span class="prop-item-product-list__value">25 кг</span>
                </div>
                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Материал:</span>
                  <span class="prop-item-product-list__value">Алюминий</span>
                </div>
                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Габаритные размеры:</span>
                  <span class="prop-item-product-list__value">25*25*25 см</span>
                </div>

              </div>
            </div>
            <div class="item-product-list__prices prices-item-product-list">
              <div class="prices-item-product-list__price">
                11 000,25 руб.
              </div>
            </div>
            <div class="item-product-list__footer">
              <button
                type="button"
                class="item-product-list__add-to-cart btn btn--fill btn--orange">
                Купить
              </button>
              <button
                type="button"
                class="item-product-list__add-to-favorite btn--clear"
                aria-label="Добавить в избранное">
                <svg
                  width="21"
                  height="27">
                  <use xlink:href="img/spritemap.svg#sprite-favorite"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="product-list__item product-list__item--list item-product-list">
            <a href="product.html"
               class="item-product-list__image">
              <img
                src="uploads/category/1.png"
                alt="">
            </a>
            <div class="item-product-list__info">
              <a
                href="product.html"
                class="item-product-list__name">
                Колесо дисковое 533-310
              </a>
              <div class="item-product-list__props props-item-product-list">

                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Вес:</span>
                  <span class="prop-item-product-list__value">25 кг</span>
                </div>
                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Материал:</span>
                  <span class="prop-item-product-list__value">Алюминий</span>
                </div>
                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Габаритные размеры:</span>
                  <span class="prop-item-product-list__value">25*25*25 см</span>
                </div>

              </div>
            </div>
            <div class="item-product-list__prices prices-item-product-list">
              <div class="prices-item-product-list__price">
                11 000,25 руб.
              </div>
            </div>
            <div class="item-product-list__footer">
              <button
                type="button"
                class="item-product-list__add-to-cart btn btn--fill btn--orange">
                Купить
              </button>
              <button
                type="button"
                class="item-product-list__add-to-favorite btn--clear"
                aria-label="Добавить в избранное">
                <svg
                  width="21"
                  height="27">
                  <use xlink:href="img/spritemap.svg#sprite-favorite"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="product-list__item product-list__item--list item-product-list">
            <a href="product.html"
               class="item-product-list__image">
              <img
                src="uploads/category/1.png"
                alt="">
            </a>
            <div class="item-product-list__info">
              <a
                href="product.html"
                class="item-product-list__name">
                Колесо дисковое 533-310
              </a>
              <div class="item-product-list__props props-item-product-list">

                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Вес:</span>
                  <span class="prop-item-product-list__value">25 кг</span>
                </div>
                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Материал:</span>
                  <span class="prop-item-product-list__value">Алюминий</span>
                </div>
                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Габаритные размеры:</span>
                  <span class="prop-item-product-list__value">25*25*25 см</span>
                </div>

              </div>
            </div>
            <div class="item-product-list__prices prices-item-product-list">
              <div class="prices-item-product-list__price">
                11 000,25 руб.
              </div>
            </div>
            <div class="item-product-list__footer">
              <button
                type="button"
                class="item-product-list__add-to-cart btn btn--fill btn--orange">
                Купить
              </button>
              <button
                type="button"
                class="item-product-list__add-to-favorite btn--clear"
                aria-label="Добавить в избранное">
                <svg
                  width="21"
                  height="27">
                  <use xlink:href="img/spritemap.svg#sprite-favorite"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="product-list__item product-list__item--list item-product-list">
            <a href="product.html"
               class="item-product-list__image">
              <img
                src="uploads/category/1.png"
                alt="">
            </a>
            <div class="item-product-list__info">
              <a
                href="product.html"
                class="item-product-list__name">
                Колесо дисковое 533-310
              </a>
              <div class="item-product-list__props props-item-product-list">

                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Вес:</span>
                  <span class="prop-item-product-list__value">25 кг</span>
                </div>
                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Материал:</span>
                  <span class="prop-item-product-list__value">Алюминий</span>
                </div>
                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Габаритные размеры:</span>
                  <span class="prop-item-product-list__value">25*25*25 см</span>
                </div>

              </div>
            </div>
            <div class="item-product-list__prices prices-item-product-list">
              <div class="prices-item-product-list__price">
                11 000,25 руб.
              </div>
            </div>
            <div class="item-product-list__footer">
              <button
                type="button"
                class="item-product-list__add-to-cart btn btn--fill btn--orange">
                Купить
              </button>
              <button
                type="button"
                class="item-product-list__add-to-favorite btn--clear"
                aria-label="Добавить в избранное">
                <svg
                  width="21"
                  height="27">
                  <use xlink:href="img/spritemap.svg#sprite-favorite"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="product-list__item product-list__item--list item-product-list">
            <a href="product.html"
               class="item-product-list__image">
              <img
                src="uploads/category/1.png"
                alt="">
            </a>
            <div class="item-product-list__info">
              <a
                href="product.html"
                class="item-product-list__name">
                Колесо дисковое 533-310
              </a>
              <div class="item-product-list__props props-item-product-list">

                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Вес:</span>
                  <span class="prop-item-product-list__value">25 кг</span>
                </div>
                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Материал:</span>
                  <span class="prop-item-product-list__value">Алюминий</span>
                </div>
                <div class="props-item-product-list__item prop-item-product-list">
                  <span class="prop-item-product-list__name">Габаритные размеры:</span>
                  <span class="prop-item-product-list__value">25*25*25 см</span>
                </div>

              </div>
            </div>
            <div class="item-product-list__prices prices-item-product-list">
              <div class="prices-item-product-list__price">
                11 000,25 руб.
              </div>
            </div>
            <div class="item-product-list__footer">
              <button
                type="button"
                class="item-product-list__add-to-cart btn btn--fill btn--orange">
                Купить
              </button>
              <button
                type="button"
                class="item-product-list__add-to-favorite btn--clear"
                aria-label="Добавить в избранное">
                <svg
                  width="21"
                  height="27">
                  <use xlink:href="img/spritemap.svg#sprite-favorite"></use>
                </svg>
              </button>
            </div>
          </div>



        </div>
        <div class="category__footer product-list-view product-list-view--footer">
          <div class="product-list-view__count count-product-block">
            Показать по
            <button
              type="button"
              class="count-product-block__btn">12
            </button>
            <button
              type="button"
              class="count-product-block__btn">24
            </button>
          </div>
          <div class="product-list-view__type type-product-block">
            <button
              type="button"
              class="type-product-block__item type-product-block__item--active btn--clear">
              <svg
                width="16"
                height="12">
                <use xlink:href="img/spritemap.svg#sprite-type-product-block--list"></use>
              </svg>
            </button>
            <button
              type="button"
              class="type-product-block__item btn--clear">
              <svg
                width="17"
                height="12">
                <use xlink:href="img/spritemap.svg#sprite-type-product-block--tile"></use>
              </svg>
            </button>
          </div>

        </div>
        <%= _.template(require('./../includes/pagination.html').default)(data) %>
      </div>


    </div>
  </div>


</div>

<%= _.template(require('./../includes/footer.html'). default)(data) %>
