<% var data = {
title: "Заголовок | Проект",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="container">
  <div class="container__inner">

    <%= _.template(require('./../includes/breadcrumbs.html').default)(data) %>
    <h1 class="page-content__title">Контакты</h1>

    <div class="page-content__contacts contacts-page">

      <div class="contacts-page__inner">
        <div class="contacts-page__panel panel-contacts panel-contacts--left">
          <div class="panel-contacts__title">ООО "ОМГ-Сервис"</div>
          <div class="panel-contacts__inner">
            <!--Интернет-магазин-->
            <div class="contacts-page__block contacts-block">
              <div class="contacts-block__title">
                Интернет-магазин
              </div>
              <div class="contacts-block__inner">

                <div class="contacts-block__item contact-item">
                  <div class="contact-item__image">
                    <img src="uploads/contacts/2.jpg"
                         alt="">
                  </div>
                  <div class="contact-item__inner">

                    <div class="contact-item__title">Сидорова Анастасия Михайловна</div>
                    <div class="contacts-block__text">
                      <div class="contacts-block__post">
                        Ведущий специалист интернет-магазина
                      </div>
                      тел. (3513) 55-53-11, <br>
                      SidorovaAM@uralaz.ru
                    </div>
                  </div>
                </div>

                <div class="contacts-block__item contact-item">
                  <div class="contact-item__image">
                    <img src="uploads/contacts/1.png"
                         alt="">
                  </div>
                  <div class="contact-item__inner">

                    <div class="contact-item__title">ФИО</div>
                    <div class="contacts-block__text">
                      <div class="contacts-block__post">
                        Специалист интернет-магазина
                      </div>
                      тел. (3513) 55-53-11, <br>
                      ФИО@uralaz.ru
                    </div>
                  </div>
                </div>


              </div>

            </div>

            <!--Фирменный магазин УРАЛ-->
            <div class="contacts-page__block contacts-block">
              <div class="contacts-block__title">
                Фирменный магазин УРАЛ
              </div>
              <div class="contacts-block__inner">

                <div class="contacts-block__item contact-item">
                  <div class="contact-item__image">
                    <img src="uploads/contacts/1.png"
                         alt="">
                  </div>
                  <div class="contact-item__inner">

                    <div class="contact-item__title">ФИО</div>
                    <div class="contacts-block__text">
                      <div class="contacts-block__post">
                        Главный специалист
                      </div>
                      тел. (3513) 55-53-11, <br>
                      ФИО@uralaz.ru
                    </div>
                  </div>
                </div>

                <div class="contacts-block__item contact-item">
                  <div class="contact-item__image">
                    <img src="uploads/contacts/1.png"
                         alt="">
                  </div>
                  <div class="contact-item__inner">

                    <div class="contact-item__title">ФИО</div>
                    <div class="contacts-block__text">
                      <div class="contacts-block__post">
                        Ведущий специалист
                      </div>
                      тел. (3513) 55-53-11, <br>
                      ФИО@uralaz.ru
                    </div>
                  </div>
                </div>

                <div class="contacts-block__item contact-item">
                  <div class="contact-item__image">
                    <img src="uploads/contacts/1.png"
                         alt="">
                  </div>
                  <div class="contact-item__inner">

                    <div class="contact-item__title">ФИО</div>
                    <div class="contacts-block__text">
                      <div class="contacts-block__post">
                        Ведущий специалист
                      </div>
                      тел. (3513) 55-53-11, <br>
                      ФИО@uralaz.ru
                    </div>
                  </div>
                </div>

              </div>

            </div>

            <!--Начальник отдела розничных продаж-->
            <div class="contacts-page__block contacts-block">
              <div class="contacts-block__title">
                Начальник отдела розничных продаж
              </div>
              <div class="contacts-block__inner">

                <div class="contacts-block__item contact-item">
                  <div class="contact-item__image">
                    <img src="uploads/contacts/3.jpg"
                         alt="">
                  </div>
                  <div class="contact-item__inner">

                    <div class="contact-item__title">Прусаков Алексей Александрович</div>
                    <div class="contacts-block__text">

                      тел. (3513) 55-53-11, <br>
                      PrusakovAA@uralaz.ru
                    </div>
                  </div>
                </div>


              </div>

            </div>

            <!--Отдел оптовых продаж-->
            <div class="contacts-page__block contacts-block">
              <div class="contacts-block__title">
                Отдел оптовых продаж
              </div>
              <div class="contacts-block__inner">

                <div class="contacts-block__item contact-item">
                  <div class="contact-item__image">
                    <img src="uploads/contacts/1.png"
                         alt="">
                  </div>
                  <div class="contact-item__inner">

                    <div class="contact-item__title">Чикин Роман Васильевич</div>
                    <div class="contacts-block__text">
                      <div class="contacts-block__post">
                        Главный специалист
                      </div>
                      тел. (3513) 55-53-11, <br>
                      ChikinRV@uralaz.ru
                    </div>
                  </div>
                </div>

                <div class="contacts-block__item contact-item">
                  <div class="contact-item__image">
                    <img src="uploads/contacts/5.jpg"
                         alt="">
                  </div>
                  <div class="contact-item__inner">

                    <div class="contact-item__title">Березин Андрей Иванович</div>
                    <div class="contacts-block__text">
                      <div class="contacts-block__post">
                        Ведущий специалист
                      </div>
                      тел. (3513) 55-53-11, <br>
                      BerezinAI@uralaz.ru
                    </div>
                  </div>
                </div>

                <div class="contacts-block__item contact-item">
                  <div class="contact-item__image">
                    <img src="uploads/contacts/1.png"
                         alt="">
                  </div>
                  <div class="contact-item__inner">

                    <div class="contact-item__title">ФИО</div>
                    <div class="contacts-block__text">
                      <div class="contacts-block__post">
                        Ведущий специалист
                      </div>
                      тел. (3513) 55-53-11, <br>
                      ФИО@uralaz.ru
                    </div>
                  </div>
                </div>

                <div class="contacts-block__item contact-item">
                  <div class="contact-item__image">
                    <img src="uploads/contacts/1.png"
                         alt="">
                  </div>
                  <div class="contact-item__inner">

                    <div class="contact-item__title">ФИО</div>
                    <div class="contacts-block__text">
                      <div class="contacts-block__post">
                        Ведущий специалист
                      </div>
                      тел. (3513) 55-53-11, <br>
                      ФИО@uralaz.ru
                    </div>
                  </div>
                </div>

              </div>

            </div>

            <!--Начальник отдела оптовых продаж-->
            <div class="contacts-page__block contacts-block">
              <div class="contacts-block__title">
                Начальник отдела оптовых продаж
              </div>
              <div class="contacts-block__inner">

                <div class="contacts-block__item contact-item">
                  <div class="contact-item__image">
                    <img src="uploads/contacts/1.png"
                         alt="">
                  </div>
                  <div class="contact-item__inner">

                    <div class="contact-item__title">ФИО</div>
                    <div class="contacts-block__text">
                      ФИО@uralaz.ru, <br>
                      SidorovaAM@uralaz.ru
                    </div>
                  </div>
                </div>


              </div>

            </div>

            <!--Начальник управления продаж запасных частей-->
            <div class="contacts-page__block contacts-block">
              <div class="contacts-block__title">
                Начальник управления продаж запасных частей
              </div>
              <div class="contacts-block__inner">

                <div class="contacts-block__item contact-item">
                  <div class="contact-item__image">
                    <img src="uploads/contacts/4.jpg"
                         alt="">
                  </div>
                  <div class="contact-item__inner">

                    <div class="contact-item__title">Радостев Александр Викторович</div>
                    <div class="contacts-block__text">
                      RadostevAV@uralaz.ru <br>
                      тел. (3513) 55-40-41
                    </div>
                  </div>
                </div>


              </div>

            </div>
          </div>


        </div>

        <div class="contacts-page__panel panel-contacts panel-contacts--right">
          <div class="panel-contacts__title">АО "АЗ "УРАЛ"</div>
          <div class="panel-contacts__inner">
            <div class="contacts-page__ural ural-contact">
              <a href=""
                 class="ural-contact__link">www.uralaz.ru
              </a>
              <div class="ural-contact__item">
                456300, г.Миасс, пр. Автозаводцев, 1 <br>
                Тел. +7 (3513) 55-16-37
              </div>
              <div class="ural-contact__item">
                Круглосуточная горячая линия <br>
                8-800-100-11-74 <br>
                Звонок по России бесплатный
              </div>
              <div class="ural-contact__item">
                Справочная "АЗ "УРАЛ" <br>
                Тел. +7(3513) 55-49-83

              </div>
            </div>
            <div class="contacts-page__form form-contacts">
              <div class="form-contacts__title">
                Напишите нам
              </div>
              <form class="form form--contact"
                    action="">


                <div class="form__inner">


                  <div class="form__content">


                    <div class="form__group group-form">

                      <div class="form__row">
                        <div class="form__col form__col--6">
                          <div class="form__item item-form">
                            <label class="item-form__label item-form__label--text">
                              <input

                                type="text"
                                class="item-form__field item-form__field--text">
                              <span class="item-form__name  item-form__name--text">Ваше имя</span>
                            </label>
                          </div>
                        </div>

                        <div class="form__col form__col--6">
                          <div class="form__item item-form">
                            <label class="item-form__label item-form__label--text">
                              <input

                                type="text"
                                class="item-form__field item-form__field--text">
                              <span class="item-form__name  item-form__name--text">E-mail</span>
                            </label>
                          </div>
                        </div>

                      </div>

                      <div class="form__row">
                        <div class="form__col form__col--12">


                          <div class="form__item item-form">
                            <label class="item-form__label item-form__label--text">

                              <textarea rows="3"
                                        class="item-form__field item-form__field--text item-form__field--textarea"></textarea>
                              <span class="item-form__name item-form__name--text">Ваш вопрос</span>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form__item item-form"
                           style="margin-top: 0;">
                        <label class="item-form__label item-form__label--checkbox">
                          <input
                            type="checkbox"
                            name=""
                            checked
                            value=""
                            class="item-form__field item-form__field--checkbox">
                          <span class="item-form__picture item-form__picture--checkbox">

                  <svg width="12"
                       height="8"
                       fill="none"
                       xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M11.026 2.573a.98.98 0 000-1.424 1.08 1.08 0 00-1.483 0L5.09 5.423l-2.968-2.85a1.08 1.08 0 00-1.484 0 .98.98 0 000 1.424L4.348 7.56c.205.197.474.295.743.295.27 0 .538-.099.743-.295l5.192-4.986z"
                      fill="#fff"/>
                  </svg>
                </span>
                          <span class="item-form__name item-form__name--checkbox">
                  Я согласен с условиями
                  <a target="_blank"
                     rel="noopener noreferrer"
                     href="privacy.html">политики&nbsp;конфиденциальности</a>
                </span>
                        </label>
                      </div>
                    </div>


                  </div>

                  <footer class="form__footer">
                    <div class="form__actions">
                      <button class="form__btn btn btn--orange btn--fill"
                              type="submit">Отправить
                      </button>
                    </div>
                  </footer>
                </div>
              </form>
            </div>
          </div>

        </div>

      </div>


    </div>
  </div>


</div>

<%= _.template(require('./../includes/footer.html'). default)(data) %>
