<% var data = {
title: "Заголовок | Проект",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=adcbc647-465e-457a-883c-86b24d6f99d0"
        type="text/javascript"></script>


<div class="container">
  <div class="container__inner">

    <%= _.template(require('./../includes/breadcrumbs.html').default)(data) %>
    <h1 class="page-content__title">Доставка запасных частей по РФ</h1>

    <div class="page-content__delivery delivery-page">

      <div class="delivery-page__item">
        <p>
          <b> Отгрузка запасных частей на условиях самовывоза:</b> <br>
          После оформления заказа с Вами свяжется наш специалист и согласует сроки комплектации, дату и время
          получения Вашего заказа.
        </p>

        <p>
          Выдача заказов производится по адресу: Челябинская область, г. Миасс, пр. Автозаводцев 1, <b>Фирменный магазин
          УРАЛ</b>. (Подъезд к магазину со стороны Динамовского шоссе)
        </p>

      </div>

      <div id="delivery-page__map"
           class="delivery-page__map"></div>

      <div class="delivery-page__item">
        <b>Отправка товара через транспортные компании:</b> <br>
        Наш интернет-магазин осуществляет доставку заказов следующими логистическими компаниями:

      </div>
      <div class="delivery-page__transport transport-companies">

        <div class="transport-companies__list">
          <table class="transport-companies__table">

            <tr>
              <td>
                <img src="uploads/delivery/1.png"
                     alt="">
              </td>
              <td>Деловые Линии</td>
              <td><a href="https://www.dellin.ru/"
                     target="_blank"
                     rel="noopener noreferrer">dellin.ru</a></td>
            </tr>

            <tr>
              <td>
                <img src="uploads/delivery/2.png"
                     alt="">
              </td>
              <td>Boxberry</td>
              <td><a href="https://boxberry.ru/"
                     target="_blank"
                     rel="noopener noreferrer">boxberry.ru</a></td>
            </tr>

            <tr>
              <td>
                <img width="64"
                     height="31"
                     src="uploads/delivery/3.svg"
                     alt="">
              </td>
              <td>СДЭК</td>
              <td><a href="https://cdek.ru/"
                     target="_blank"
                     rel="noopener noreferrer">cdek.ru</a></td>
            </tr>

            <tr>
              <td>
                <img src="uploads/delivery/4.svg"
                     alt="">
              </td>
              <td>Почта РФ</td>
              <td><a href="https://www.pochta.ru/"
                     target="_blank"
                     rel="noopener noreferrer">pochta.ru</a></td>
            </tr>

            <tr>
              <td>
                <img src="uploads/delivery/5.svg"
                     alt="">
              </td>
              <td>ПЭК</td>
              <td>
                <a href="https://pecom.ru/"
                   target="_blank"
                   rel="noopener noreferrer">pecom.ru</a>
              </td>
            </tr>

            <tr>
              <td>
                <img src="uploads/delivery/6.png"
                     alt="">
              </td>
              <td>DPD</td>
              <td>
                <a href="https://www.dpd.ru/"
                   target="_blank"
                   rel="noopener noreferrer">dpd.ru</a>
              </td>
            </tr>

          </table>
        </div>
      </div>


    </div>
  </div>


</div>

<%= _.template(require('./../includes/footer.html'). default)(data) %>
