<% var data = {
title: "Заголовок | Проект",

}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="container">
  <%= _.template(require('./../includes/breadcrumbs.html').default)(data) %>
  <div class="forms-page">


    <form class="form form--register"
          action="">

      <div class="form__radio-group radio-group radio-group--select-person-type">
        <div class="form__item item-form radio-group__item-form">
          <div class="item-form__inner item-form__inner--radio-group">

            <label class="item-form__label item-form__label--radio item-form__label--radio-group">
              <input
                type="radio"
                name="person-type"
                value="private-person"
                class="item-form__field item-form__field--radio">
              <span></span>
              <span class="item-form__name item-form__name--radio">Частное лицо</span>
            </label>
            <label class="item-form__label item-form__label--radio item-form__label--radio-group">
              <input
                checked
                type="radio"
                name="person-type"
                value="private-person"
                class="item-form__field item-form__field--radio">
              <span></span>
              <span class="item-form__name item-form__name--radio">Юридическое лицо</span>
            </label>
          </div>
        </div>
      </div>


      <div class="form__inner">
        <div class="form__description">
          Все поля обязательны к заполнению
        </div>


        <div class="form__content">

          <div class="form__group group-form">
            <div class="form__item item-form item-form--select">
              <label class="item-form__label item-form__label--select">
                <input
                  readonly
                  type="text"
                  value=""
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Служба доставки</span>
                <svg
                  class="item-form__triangle"
                  width="10"
                  height="5"
                  class="logo__image">
                  <use xlink:href="img/spritemap.svg#sprite-triangle-down"></use>
                </svg>
              </label>
              <div class="item-form__dropdown dropdown-form dropdown-form--hidden">
                <input type="hidden"
                       class="dropdown-form__input">
                <ul class="dropdown-form__list list--clear">
                  <li class="dropdown-form__item"
                      data-value="1">Первая доставка
                  </li>
                  <li class="dropdown-form__item"
                      data-value="2">Вторая доставка
                  </li>
                  <li class="dropdown-form__item"
                      data-value="3">Третья доставка
                  </li>
                </ul>
              </div>
            </div>
          </div>


          <div class="form__group group-form">
            <div class="group-form__title">Адрес доставки</div>
            <div class="form__row">
              <div class="form__col form__col--4">
                <div class="form__item item-form">
                  <label class="item-form__label item-form__label--text">
                    <input

                      type="text"
                      class="item-form__field item-form__field--text">
                    <span class="item-form__name  item-form__name--text">Индекс</span>
                  </label>
                </div>
              </div>
              <div class="form__col form__col--8">
                <div class="form__item item-form item-form--select">
                  <label class="item-form__label item-form__label--select">
                    <input
                      readonly
                      type="text"
                      value=""
                      class="item-form__field item-form__field--text">
                    <span class="item-form__name  item-form__name--text">Город</span>
                    <svg
                      class="item-form__triangle"
                      width="10"
                      height="5"
                      class="logo__image">
                      <use xlink:href="img/spritemap.svg#sprite-triangle-down"></use>
                    </svg>
                  </label>
                  <div class="item-form__dropdown dropdown-form dropdown-form--hidden">
                    <input type="hidden"
                           class="dropdown-form__input">
                    <ul class="dropdown-form__list list--clear">
                      <li class="dropdown-form__item"
                          data-value="1">Первая
                      </li>
                      <li class="dropdown-form__item"
                          data-value="2">Вторая
                      </li>
                      <li class="dropdown-form__item"
                          data-value="3">Третья
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="form__row">
              <div class="form__col form__col--4">
                <div class="form__item item-form">
                  <label class="item-form__label item-form__label--text">
                    <input

                      type="text"
                      class="item-form__field item-form__field--text">
                    <span class="item-form__name  item-form__name--text">Улица</span>
                  </label>
                </div>
              </div>
              <div class="form__col form__col--8">

                <div class="form__row">
                  <div class="form__col form__col--4">
                    <div class="form__item item-form">
                      <label class="item-form__label item-form__label--text">
                        <input

                          type="text"
                          class="item-form__field item-form__field--text">
                        <span class="item-form__name  item-form__name--text">Улица</span>
                      </label>
                    </div>

                  </div>

                  <div class="form__col form__col--4">
                    <div class="form__item item-form">
                      <label class="item-form__label item-form__label--text">
                        <input

                          type="text"
                          class="item-form__field item-form__field--text">
                        <span class="item-form__name  item-form__name--text">Улица</span>
                      </label>
                    </div>

                  </div>

                  <div class="form__col form__col--4">
                    <div class="form__item item-form">
                      <label class="item-form__label item-form__label--text">
                        <input

                          type="text"
                          class="item-form__field item-form__field--text">
                        <span class="item-form__name  item-form__name--text">Улица</span>
                      </label>
                    </div>

                  </div>
                </div>


              </div>
            </div>

            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">E-mail *</span>
              </label>
            </div>
          </div>


          <div class="form__group group-form">
            <div class="group-form__title">Данные организации</div>

            <div class="form__item item-form item-form--error">
              <label class="item-form__label item-form__label--text">
                <input type="text"
                       class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Краткое наименование *</span>
              </label>
              <div class="item-form__error">
                Обязательное поле
              </div>
            </div>

            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Полное наименование *</span>
              </label>
            </div>

            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">ИНН *</span>
              </label>
            </div>

            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">КПП *</span>
              </label>
            </div>


            <div class="form__item item-form">
              <label class="item-form__label item-form__label--checkbox">
                <input
                  type="checkbox"
                  name=""
                  checked
                  value=""
                  class="item-form__field item-form__field--checkbox">
                <span class="item-form__picture item-form__picture--checkbox">

                  <svg width="12"
                       height="8"
                       fill="none"
                       xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M11.026 2.573a.98.98 0 000-1.424 1.08 1.08 0 00-1.483 0L5.09 5.423l-2.968-2.85a1.08 1.08 0 00-1.484 0 .98.98 0 000 1.424L4.348 7.56c.205.197.474.295.743.295.27 0 .538-.099.743-.295l5.192-4.986z"
                      fill="#fff"/>
                  </svg>
                </span>
                <span class="item-form__name item-form__name--checkbox">
                  Я согласен с условиями
                  <a target="_blank"
                     rel="noopener noreferrer"
                     href="privacy.html">политики&nbsp;конфиденциальности</a>
                </span>
              </label>
            </div>

          </div>


        </div>

        <footer class="form__footer">
          <div class="form__actions">
            <button class="form__btn btn btn--orange btn--fill"
                    type="submit">Зарегистрироваться
            </button>
          </div>
        </footer>
      </div>
    </form>


  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
