<% var data = {
title: "Заголовок | Проект",

}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<%= _.template(require('./../includes/main-slider.html').default)(data) %>
<div class="container">

  <div class="container main-page">

    <div class="main-page__promo promo-blocks">
      <a href=""
         class="promo-blocks__item promo-block promo-block--special">
        <div class="promo-block__title">Спец<br>предложения</div>
      </a>
      <a href=""
         class="promo-blocks__item promo-block promo-block--popular">
        <div class="promo-block__title">Популярные<br>запасные<br>части</div>
      </a>
      <a href=""
         class="promo-blocks__item promo-block promo-block--actions">
        <div class="promo-block__title">Акции</div>
      </a>
    </div>
  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
