<% var data = {
title: "Заголовок | Проект",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="container">
  <div class="container__inner">

    <%= _.template(require('./../includes/breadcrumbs.html').default)(data) %>
    <h1 class="page-content__title">Оплата</h1>

    <div class="page-content__payment payment-page">
      <div class="payment-page__methods page-payment-methods">
        <div class="page-payment-methods__inner">
          <div class="page-payment-methods__item item-payment-method">
            <div class="item-payment-method__image">
              <img src="uploads/payments/1.png"
                   alt="">
            </div>
            <div class="item-payment-method__text">
              <div class="item-payment-method__title">
                Онлайн оплата картами VISA, MasterCard, МИР, Maestro
              </div>

              После подтверждения заказа, сделанного на нашем сайте, вам станет доступна кнопка "Оплатить",
              которая позволит перейти на сайт платежной системы и безопасно произвести оплату заказа. Такой способ
              оплаты доступен <strong>только частным (физическим) лицам.</strong>
              <ul>
                <li>
                  После поступления денежных средств на наш счет, выбранные вами при создании Заказа товары будут
                  зарезервированы и начнется его комплектация, а на Ваш e-mail придет электронный чек.
                </li>
                <li>
                  При оплате заказа банковской картой обработка информации и платежа происходит на авторизированном
                  сервере процессингового центра Банка. Это значит, что Ваши конфиденциальные данные, в том числе
                  реквизиты карты, зашифрованы и не поступают в интернет-магазин.
                </li>
              </ul>
            </div>
          </div>


          <div class="page-payment-methods__item item-payment-method">
            <div class="item-payment-method__image">
              <img src="uploads/payments/2.png"
                   alt="">
            </div>
            <div class="item-payment-method__text">
              <div class="item-payment-method__title">
                Онлайн оплата через электронные кошельки Apple Pay, Google Pay и Яндекс. Деньги
              </div>

              В нашем интернет-магазине также возможна оплата с помощью электронных кошельков Apple Pay, Google Pay,
              Yandex.Деньги.
              После подтверждения заказа, сделанного на нашем сайте, вам станет доступна кнопка "Оплатить",
              которая позволит перейти на сайт платежной системы и безопасно произвести оплату заказа. Такой способ
              оплаты доступен только <strong>частным (физическим) лицам.</strong>
            </div>
          </div>


          <div class="page-payment-methods__item item-payment-method">
            <div class="item-payment-method__image">
              <img src="uploads/payments/3.png"
                   alt="">
            </div>
            <div class="item-payment-method__text">
              <div class="item-payment-method__title">
                Безналичные платежи
              </div>
              Безналичный расчет — это самый распространенный способ оплаты товаров при работе с юридическими
              лицами и индивидуальными предпринимателями. Оплата производится по выставленному счету на товары по
              Вашей заявке. Счет для оплаты действителен в течение 3-х рабочих дней с момента его выставления.
            </div>
          </div>


          <div class="page-payment-methods__item item-payment-method">
            <div class="item-payment-method__image">
              <img src="uploads/payments/4.png"
                   alt="">
            </div>
            <div class="item-payment-method__text">
              <div class="item-payment-method__title">
                Оплата наличными либо пластиковой картой
              </div>
              При условии самовывоза заказов из нашего фирменного магазина, возможна оплата в кассе магазина
              наличными деньгами (рубли РФ), либо через POS-терминал, с использованием пластиковых карточек: MasterCard,
              Maestro, МИР, Visa, Visa Electron.
            </div>
          </div>


        </div>
      </div>

    </div>
  </div>


</div>

<%= _.template(require('./../includes/footer.html'). default)(data) %>
