<% var data = {
title: "Заголовок | Проект",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="container">
  <div class="container__inner">

    <%= _.template(require('./../includes/breadcrumbs.html').default)(data) %>
    <h1 class="page-content__title">Политика АО «Автомобильный завод «УРАЛ»
      в отношении обработки персональных данных
      и мер по защите персональных данных пользователей сайта www.uralaz.ru</h1>

    <div class="page-content__privacy privacy-page">
      <div class="multi-ordered-list">
        <ol>
          <li>
            <p>
              Общие положения
            </p>
            <ol>
              <li>Настоящая политика обработки персональных данных принята АО «Автомобильный завод «УРАЛ» (ОГРН
                1027400870826), зарегистрированного по адресу: 456304, Челябинская обл., г. Миасс, пр. Автозаводцев, 1.
                (далее&nbsp;—
                «Оператор»), являющимся администратором/владельцем Интернет-сайта <a href="http://www.uralaz.ru/">www.uralaz.ru</a>
                (далее&nbsp;—
                «Сайт») и&nbsp;осуществляющим обработку персональных данных субъектов персональных данных, которые
                свободно, своей
                волей и в своем интересе предоставили свои персональные данные при регистрации на Сайте (далее -
                Пользователи).
              </li>
              <li><p>Регистрация Пользователей на Сайте и использование сервисов Сайта означает безоговорочное согласие
                Пользователя
                с настоящей Политикой и указанными в ней условиями обработки его персональных данных. В случае
                несогласия
                Пользователя с условиями Положения использование Сайта и его сервисов должно быть немедленно
                прекращено.
              </p>
                <p>
                  Согласие на&nbsp;обработку персональных данных может быть дано в&nbsp;электронной форме на основании
                  ч.2 ст.434 ГК
                  РФ и&nbsp;выражено в&nbsp;принятии (акцепте) размещенной на&nbsp;Сайте оферты (пользовательского
                  соглашения) при
                  условии идентификации субъекта персональных данных в&nbsp;качестве стороны данного соглашения, если
                  иное не&nbsp;предусмотрено
                  действующим законодательством Российской Федерации.
                </p>
              </li>
              <li>
                <p>
                  Настоящая Политика разработана в соответствии с Конвенцией о защите физических лиц при
                  автоматизированной
                  обработке персональных данных (Заключена в г. Страсбурге 28.01.1981), Федеральным законом от 27 июля
                  2006г. № 152-ФЗ
                  «О персональных данных», Постановлением Правительства РФ от 1 ноября 2012г. № 1119 «Об утверждении
                  Требований к
                  защите персональных данных при их обработке в информационных системах персональных данных» и иными
                  нормативными
                  правовыми актами, регулирующими вопросы защиты персональных данных.
                </p>
              </li>
              <li>
                <p>Оператор вправе вносить изменения и дополнения в настоящую Политику в случае принятия новых
                  нормативных
                  правовых актов, регулирующих вопросы защиты персональных данных. При изменении настоящей Политики
                  Оператор размещает
                  новую редакцию на Сайте для свободного доступа к ней каждого Пользователя.
                </p>
              </li>
            </ol>
          </li>

          <li>
            <p>
              Объем и содержание персональных данных Пользователей
            </p>
            <ol>
              <li>
                <p>
                  Для регистрации на Сайте (создании учетной записи) и пользования сервисами Сайта Пользователь
                  предоставляет
                  самостоятельно следующие персональные данные, включая:
                </p>
                <ul>
                  <li>
                    Фамилия, имя, отчество;
                  </li>
                  <li>
                    Дата рождения;
                  </li>
                  <li>
                    Адрес места жительства/регистрации;
                  </li>
                  <li>
                    Адрес электронной почты;
                  </li>
                  <li>
                    Номер телефона.
                  </li>
                </ul>
              </li>
              <li>
                <p>
                  Оператор не проверяет достоверность персональных данных Пользователей, и не осуществляет контроль за
                  их
                  дееспособностью. Оператор исходит из того, что персональные данные Пользователя являются достоверными.
                  Пользователь
                  поддерживает эту информацию в актуальном состоянии.
                </p>
              </li>
            </ol>
          </li>
          <li>
            <p>
              Цели обработки персональных данных Пользователей
            </p>
            <ol>
              <li>Идентификация Пользователей.</li>
              <li>Использование Пользователями сервисов Сайта.</li>
              <li>Информирование Пользователей о продукции и услугах Оператора.</li>
              <li>Проведение статистических исследований.</li>
              <li>и иные.</li>
            </ol>
          </li>
          <li>
            <p>
              Условия обработки персональных данных и передачи третьим лицам
            </p>
            <ol>
              <li>
                <p>
                  В отношении персональных данных Пользователя сохраняется конфиденциальность, кроме случаев
                  добровольного
                  предоставления Пользователем информации о себе для всеобщего доступа.
                </p>
                <p>
                  Персональные данные Пользователей обрабатываются с использованием автоматизированных систем, за
                  исключением случаев,
                  когда не автоматизированная обработка персональных данных необходима в связи с исполнением требований
                  законодательства.
                </p>
              </li>
              <li>
                <p>
                  Оператор вправе передавать персональные данные пользователя третьим лицам только с согласия
                  Пользователя, а также в случаях, предусмотренных законодательством РФ.
                </p>
              </li>
              <li>
                <p>
                  Оператор вправе поручить обработку персональных данных Пользователей третьим лицам с&nbsp;их&nbsp;согласия,
                  если иное не&nbsp;предусмотрено действующим законодательством Российской Федерации.
                </p>
              </li>
              <li>
                <p>
                  Обработка персональных данных Пользователей осуществляется в&nbsp;течение всего срока действия
                  регистрации на&nbsp;Сайте соответствующего Пользователя.
                </p>
              </li>
            </ol>
          </li>
          <li>
            <p>
              Меры по защите персональных данных
            </p>
            <ol>
              <li>
                <p>
                  Оператор принимает необходимые и достаточные правовые, организационные и технические меры для защиты
                  персональных данных Пользователей от неправомерного или случайного доступа, уничтожения, изменения,
                  блокирования, копирования, предоставления, распространения, а также от иных неправомерных действий в
                  отношении них.
                </p>
              </li>
              <li>
                <p>
                  Оператор самостоятельно определяет состав и перечень мер, необходимых для обеспечения защиты
                  персональных
                  данных, которые также включают в себя:
                </p>
                <ol>
                  <li>
                    <p>
                      Назначение ответственного лица за организацию обработки персональных данных;
                    </p>
                  </li>
                  <li>
                    <p>
                      Утверждение списка лиц, допущенных к работе с персональными данными;
                    </p>
                  </li>
                  <li>
                    <p>
                      Разработка и утверждение локальных нормативных актов, регламентирующих порядок обработки
                      персональных данных;
                    </p>
                  </li>
                  <li>
                    <p>
                      Проведение внутреннего контроля и/или аудита соответствия обработки персональных данных
                      законодательству и
                      нормативным правовым актам РФ, требованиям к защите персональных данных, Политике Оператора,
                      локальным актам
                      Оператора в отношении обработки персональных данных;
                    </p>
                  </li>
                  <li>
                    <p>
                      Иные меры, соответствующие требованиям законодательства РФ к&nbsp;обеспечению безопасности
                      персональных
                      данных.
                    </p>
                  </li>
                </ol>
              </li>
            </ol>
          </li>
          <li>
            <p>
              Права пользователя
            </p>
            <ol>
              <li><p>
                Пользователь имеет право на получение информации, касающейся обработки его персональных данных, путем
                направления Оператору соответствующего письменного запроса по юридическому адресу Оператора.
              </p>
              </li>
              <li>
                <p>
                  Запрос Пользователя должен содержать следующую информацию:
                </p>
                <ul>
                  <li>
                    Фамилия, имя, отчество Пользователя или его представителя (с приложением заверенной копии документа,
                    подтверждающего
                    полномочия представителя);
                  </li>
                  <li>
                    Паспортные данные;
                  </li>
                  <li>
                    Сведения об учетной записи Пользователя на&nbsp;Сайте;
                  </li>
                  <li>
                    Причины, основания и цели запроса;
                  </li>
                  <li>
                    Подпись Пользователя или его представителя.
                  </li>
                </ul>

              </li>
              <li>
                <p>
                  Оператор направляет ответ Пользователю по адресу, указанному в запросе Пользователя, в течение 30 дней
                  с
                  даты
                  получения запроса.
                </p>
              </li>
              <li>
                <p>
                  Пользователь может самостоятельно в любой момент изменить (обновить, уточнить) свои персональные
                  данные.
                </p>
              </li>
              <li>
                <p>
                  Пользователь может удалить свои персональные данные, отправив запрос Оператору об удалении своей
                  учетной
                  записи
                  с Сайта. При этом удаление учетной записи повлечет невозможность использования Пользователем Сайта.
                </p>
              </li>
            </ol>
          </li>
        </ol>
      </div>

    </div>
  </div>


</div>

<%= _.template(require('./../includes/footer.html'). default)(data) %>
