<% var data = {
title: "Заголовок | Проект",

}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="container">
  <%= _.template(require('./../includes/breadcrumbs.html').default)(data) %>
</div>


<div class="container">
  <div class="page page--has-sidebar">
    <%= _.template(require('./../includes/sidebar.html').default)(data) %>
    <div class="content">
      <div class="product-detail">
        <h1 class="product-detail__title">Картер и кожух полуосей среднего моста</h1>

        <div class="product-detail__inner">
          <div class="product-detail__images images-product-wrapper">
            <div class="images-product-thumbs">
              <div class="swiper-container images-product-thumbs__container">
                <div class="swiper-wrapper images-product-thumbs__wrapper">
                  <div class="swiper-slide images-product-thumbs__slide">
                    <img src="uploads/product-detail/1.jpg" alt="">
                  </div>
                  <div class="swiper-slide images-product-thumbs__slide">
                    <img src="uploads/product-detail/1.jpg" alt="">
                  </div>
                  <div class="swiper-slide images-product-thumbs__slide">
                    <img src="uploads/product-detail/1.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="images-product">
              <div class="swiper-container images-product__container">
                <div class="swiper-wrapper images-product__wrapper">
                  <div class="swiper-slide images-product__slide">
                    <img src="uploads/product-detail/1.jpg" alt="">
                  </div>
                  <div class="swiper-slide images-product__slide">
                    <img src="uploads/product-detail/1.jpg" alt="">
                  </div>
                  <div class="swiper-slide images-product__slide">
                    <img src="uploads/product-detail/1.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="product-detail__info info-product">
            <button class="info-product__add-favorite add-favorite-btn">В избранное</button>
            <div class="info-product__description">
              Картер и кожух полуосей среднего моста (подвеска редуктора среднего первого моста)
            </div>
            <div class="info-product__params params-product">
              <div class="params-product__item item-param">
                <span class="item-param__name">Вес:</span>
                <span class="item-param__value">25 кг</span>
              </div>
              <div class="params-product__item item-param">
                <span class="item-param__name">Материал:</span>
                <span class="item-param__value">Алюминий</span>
              </div>
              <div class="params-product__item item-param">
                <span class="item-param__name">Габаритные размеры:</span>
                <span class="item-param__value">25*25*25 см</span>
              </div>

            </div>
            <div class="info-product__links">
              <a href="" class="info-product__guarantee">
                Гарантийные обязательства
              </a>
              <a href="" class="info-product__call-manager">
                Связаться с менеджером
              </a>
            </div>
            <div class="info-product__prices prices-product">
              <div class="prices-product__item price-product">5 248,23 руб.</div>
              <!--                                <div class="prices-product__item price-product prices-product&#45;&#45;old">6 000,00 руб.</div>-->
            </div>
            <div class="info-product__actions">
              <button type="button" class="info-product__add-to-basket add-to-basket add-to-basket--product-detail">
                В корзину
              </button>
            </div>
          </div>

        </div>


      </div>
    </div>

  </div>

</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>
