<% var data = {
title: "Заголовок | Проект",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="container">
  <div class="container__inner">

    <%= _.template(require('./../includes/breadcrumbs.html').default)(data) %>
    <h1 class="page-content__title">Возврата товара и денежных средств</h1>

    <div class="page-content__purchase-returns purchase-returns-page">

      <h2>Общие правила возврата товара и денежных средств:</h2>
      <p>
        Претензии по количеству и качеству товара должны быть направлены в письменном виде в течение 14 календарных дней
        с даты приемки товара Покупателем.
      </p>
      <p>
        При самовывозе приемка товара по количеству и качеству производится в момент получения товара Покупателем.
      </p>
      <div class="multi-ordered-list">
        <ol>
          <li>
            <h4>Возврат товара надлежащего качества.</h4>
            <ol>
              <li>Возврат производится в течение 14 календарных дней с момента получения товара, при условии, что
                указанный товар не был в употреблении, сохранен товарный вид и потребительские свойства, пломбы, заводские
                ярлыки.
              </li>
              <li>Возврат товара в адрес ООО «ОМГ-Сервис» осуществляется за счет Покупателя. ООО «ОМГ-Сервис» НЕ
                принимает возвращаемый товар, отправленный за счет ООО «ОМГ-Сервис».
              </li>
              <li>Покупатель вместе с возвращаемым товаром обязан приложить следующие документы: кассовый и товарный
                чек, заявление от Покупателя на возврат товара, копия паспорта (или иного другого документа,
                удостоверяющего личность). <br>
                <a href="">Скачать бланк "Заявление на возврат товара"</a>
              </li>
            </ol>
          </li>

          <li>
            <h4>Возврат товара, попадающего под категорию "пересортица".</h4>
            <ol>
              <li>Возврат производится в течение 14 календарных дней с момента получения товара, при условии, что
                указанный товар не был в употреблении, сохранен товарный вид и потребительские свойства, пломбы, заводские
                ярлыки.
              </li>
              <li>
                Покупатель обязан предоставить документы, фотографии, позволяющие определить пересортицу товара.
              </li>
              <li>Покупатель обязан получить от ООО «ОМГ-Сервис» в течение трех рабочих дней подтверждение о необходимости
                возврата товара категории “пересортица”.
              </li>
              <li>Покупатель обязан осуществить возврат товара в адрес ООО «ОМГ-Сервис», тем же способом, каким товар был
                получен (самостоятельная доставка в фирменный магазин УРАЛ, при самовывозе, либо возврат той же
                транспортной компанией за счет ООО «ОМГ-Сервис», при доставке транспортной компанией)
              </li>
              <li>Покупатель вместе с возвращаемым товаром обязан приложить следующие документы: кассовый и товарный чек,
                заявление от Покупателя на возврат товара, копия паспорта (или иного другого документа, удостоверяющего
                личность).
              </li>
            </ol>
          </li>

          <li>
            <h4>
              Возврат денежных средств.
            </h4>
            <ul>
              <li>
                При наличном расчете возврат денежных средств осуществляется в кассе фирменного магазина УРАЛ не позднее
                чем
                через 10 календарных дней после предъявления Покупателем требования о возврате.
              </li>
              <li>
                При использовании электронных платёжных систем, возврат осуществляется на тот же счёт Покупателя, с
                которого
                была произведена оплата, в течение 10 календарных дней.
              </li>
              <li>
                Возврат стоимости товара на карту Покупателя, если был использован безналичный расчёт через POS-терминал,
                происходит в течение 3-30 календарных дней после получения требования от Покупателя. Требуется присутствие
                Покупателя с той же пластиковой картой, с которой была произведена оплата. <br>
                <a href="">Скачать бланк "Заявление на возврат денежных средств"</a>
              </li>
            </ul>

          </li>
        </ol>
      </div>



    </div>
  </div>


</div>

<%= _.template(require('./../includes/footer.html'). default)(data) %>
