<% var data = {
title: "Заголовок | Проект",

}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="container">
  <%= _.template(require('./../includes/breadcrumbs.html').default)(data) %>
  <h1 class="page-content__title">Регистрация</h1>
  <div class="forms-page">

    <div class="form__radio-group radio-group radio-group--select-person-type">

      <div class="form__item item-form radio-group__item-form">
        <div class="item-form__inner item-form__inner--radio-group">

          <label class="item-form__label item-form__label--radio item-form__label--radio-group">
            <input
              checked
              type="radio"
              name="person-type"
              value="private-person"
              data-tab-target="private-person"
              class="item-form__field item-form__field--radio">
            <span></span>
            <span class="item-form__name item-form__name--radio">Частное лицо</span>

          </label>


          <label class="item-form__label item-form__label--radio item-form__label--radio-group">
            <input

              type="radio"
              name="person-type"
              value="legal-entity"
              data-tab-target="legal-entity"
              class="item-form__field item-form__field--radio">
            <span></span>
            <span class="item-form__name item-form__name--radio">Юридическое лицо</span>

          </label>

        </div>

      </div>

    </div>
    <form
      onsubmit="event.preventDefault();document.location.href = 'personal.html'"
      class="form form--register"
      data-tab="private-person"
      action="">

      <div class="form__inner">

        <div class="form__content">

          <div class="form__group group-form">


            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input
                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Email *</span>
              </label>
            </div>

            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="password"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Пароль *</span>
              </label>
            </div>
            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="password"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Подтверждение пароля *</span>
              </label>
            </div>


            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Фамилия</span>
              </label>
            </div>

            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Имя</span>
              </label>
            </div>

            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Отчество</span>
              </label>
            </div>


            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Телефон</span>
              </label>
            </div>


            <div class="form__item item-form">
              <label class="item-form__label item-form__label--checkbox">
                <input
                  type="checkbox"
                  name=""
                  checked
                  value=""
                  class="item-form__field item-form__field--checkbox">
                <span class="item-form__picture item-form__picture--checkbox">

                  <svg width="12"
                       height="8"
                       fill="none"
                       xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M11.026 2.573a.98.98 0 000-1.424 1.08 1.08 0 00-1.483 0L5.09 5.423l-2.968-2.85a1.08 1.08 0 00-1.484 0 .98.98 0 000 1.424L4.348 7.56c.205.197.474.295.743.295.27 0 .538-.099.743-.295l5.192-4.986z"
                      fill="#fff"/>
                  </svg>
                </span>
                <span class="item-form__name item-form__name--checkbox">
                  Я согласен с условиями
                  <a target="_blank"
                     rel="noopener noreferrer"
                     href="privacy.html">политики&nbsp;конфиденциальности</a>
                </span>
              </label>
            </div>
          </div>


        </div>

        <footer class="form__footer">
          <div class="form__actions">
            <button

              class="form__btn btn btn--orange btn--fill"
              type="submit">Зарегистрироваться
            </button>
          </div>
        </footer>
      </div>
    </form>


    <form
      onsubmit="event.preventDefault();document.location.href = 'personal.html'"
      class="form form--register"
      data-tab="legal-entity"
      hidden
      action="">


      <div class="form__inner">
        <div class="form__description">
          Все поля обязательны к заполнению
        </div>


        <div class="form__content">

          <div class="form__group group-form">
            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">E-mail *</span>
              </label>
            </div>
            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="password"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Пароль *</span>
              </label>
            </div>
            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="password"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Подтверждение пароля *</span>
              </label>
            </div>
            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Контактное лицо *</span>
              </label>
            </div>
            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Телефон *</span>
              </label>
            </div>


          </div>


          <div class="form__group group-form">
            <div class="group-form__title">Данные организации</div>

            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Краткое наименование *</span>
              </label>
            </div>

            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Полное наименование *</span>
              </label>
            </div>

            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">ИНН *</span>
              </label>
            </div>

            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">КПП *</span>
              </label>
            </div>

            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Номер расчетного счета *</span>
              </label>
            </div>

            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Кор. счет *</span>
              </label>
            </div>

            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">БИК *</span>
              </label>
            </div>

            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Юридический адрес *</span>
              </label>
            </div>


            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Фактический адрес *</span>
              </label>
            </div>
            <div class="form__item item-form">
              <label class="item-form__label item-form__label--checkbox">
                <input
                  type="checkbox"
                  name=""
                  checked
                  value=""
                  class="item-form__field item-form__field--checkbox">
                <span class="item-form__picture item-form__picture--checkbox">

                  <svg width="12"
                       height="8"
                       fill="none"
                       xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M11.026 2.573a.98.98 0 000-1.424 1.08 1.08 0 00-1.483 0L5.09 5.423l-2.968-2.85a1.08 1.08 0 00-1.484 0 .98.98 0 000 1.424L4.348 7.56c.205.197.474.295.743.295.27 0 .538-.099.743-.295l5.192-4.986z"
                      fill="#fff"/>
                  </svg>
                </span>
                <span class="item-form__name item-form__name--checkbox">
                  Я согласен с условиями
                  <a target="_blank"
                     rel="noopener noreferrer"
                     href="privacy.html">политики&nbsp;конфиденциальности</a>
                </span>
              </label>
            </div>

          </div>


        </div>

        <footer class="form__footer">
          <div class="form__actions">
            <button

              class="form__btn btn btn--orange btn--fill"
              type="submit">Зарегистрироваться
            </button>
          </div>
        </footer>
      </div>
    </form>


  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
