<% var data = {
title: "Заголовок | Проект",

}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="container">
  <%= _.template(require('./../includes/breadcrumbs.html').default)(data) %>
  <h1 class="page-content__title">Регистрация</h1>
  <div class="forms-page">

    <div class="form__radio-group radio-group radio-group--select-person-type">

      <div class="form__item item-form radio-group__item-form">
        <div class="item-form__inner item-form__inner--radio-group">

          <label class="item-form__label item-form__label--radio item-form__label--radio-group">
            <input
              checked
              type="radio"
              name="person-type"
              value="private-person"
              data-tab-target="private-person"
              class="item-form__field item-form__field--radio">
            <span></span>
            <span class="item-form__name item-form__name--radio">Частное лицо</span>

          </label>


          <label class="item-form__label item-form__label--radio item-form__label--radio-group">
            <input

              type="radio"
              name="person-type"
              value="legal-entity"
              data-tab-target="legal-entity"
              class="item-form__field item-form__field--radio">
            <span></span>
            <span class="item-form__name item-form__name--radio">Юридическое лицо</span>

          </label>

        </div>

      </div>

    </div>
    <form
      onsubmit="event.preventDefault();document.location.href = 'personal.html'"
      class="form form--register"
      data-tab="private-person"
      action="">

      <div class="form__inner">

        <div class="form__content">

          <div class="form__group group-form">


            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input
                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Email *</span>
              </label>
            </div>

            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="password"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Пароль *</span>
              </label>
            </div>
            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="password"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Подтверждение пароля *</span>
              </label>
            </div>


            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Фамилия</span>
              </label>
            </div>

            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Имя</span>
              </label>
            </div>

            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Отчество</span>
              </label>
            </div>


            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Телефон</span>
              </label>
            </div>


          </div>


        </div>

        <footer class="form__footer">
          <div class="form__actions">
            <button

              class="form__btn btn btn--orange btn--fill"
              type="submit">Зарегистрироваться
            </button>
          </div>
        </footer>
      </div>
    </form>


    <form
      onsubmit="event.preventDefault();document.location.href = 'personal.html'"
      class="form form--register"
      data-tab="legal-entity"
      hidden
      action="">


      <div class="form__inner">
        <div class="form__description">
          Все поля обязательны к заполнению
        </div>


        <div class="form__content">

          <div class="form__group group-form">
            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">E-mail *</span>
              </label>
            </div>
            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="password"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Пароль *</span>
              </label>
            </div>
            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="password"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Подтверждение пароля *</span>
              </label>
            </div>
            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Контактное лицо *</span>
              </label>
            </div>
            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Телефон *</span>
              </label>
            </div>


          </div>


          <div class="form__group group-form">
            <div class="group-form__title">Данные организации</div>

            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Краткое наименование *</span>
              </label>
            </div>

            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Полное наименование *</span>
              </label>
            </div>

            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">ИНН *</span>
              </label>
            </div>

            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">КПП *</span>
              </label>
            </div>

            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Номер расчетного счета *</span>
              </label>
            </div>

            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Кор. счет *</span>
              </label>
            </div>

            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">БИК *</span>
              </label>
            </div>

            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Юридический адрес *</span>
              </label>
            </div>


            <div class="form__item item-form">
              <label class="item-form__label item-form__label--text">
                <input

                  type="text"
                  class="item-form__field item-form__field--text">
                <span class="item-form__name  item-form__name--text">Фактический адрес *</span>
              </label>
            </div>


          </div>


        </div>

        <footer class="form__footer">
          <div class="form__actions">
            <button

              class="form__btn btn btn--orange btn--fill"
              type="submit">Зарегистрироваться
            </button>
          </div>
        </footer>
      </div>
    </form>


  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
