<% var data = {
title: "Заголовок | Проект",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="container">
  <div class="container__inner">

    <%= _.template(require('./../includes/breadcrumbs.html').default)(data) %>
    <h1 class="page-content__title">Гарантия на запасные части</h1>

    <div class="page-content__warranty warranty-page">


      <p>
        Претензии по количеству и качеству товара должны быть направлены в письменном виде в течение 14 календарных дней
        с даты приемки товара Покупателем.
      </p>
      <p>
        При самовывозе приемка товара по количеству и качеству производится в момент получения товара Покупателем.
      </p>
      <div class="multi-ordered-list">
        <ol>
          <li>
            <h4>Гарантия на запасные части.</h4>
            <ol>
              <li>
                Гарантийный срок, предоставляемый на запасные части, устанавливается с момента продажи запасных частей
                покупателю и составляет 12 месяцев, при условии, что наработка (пробег) не превысили 30 000 км, и их
                установка на автомобиль производилась в аттестованном сервисном центре фирменной сети Урал. Для запасных
                частей, установленных на автомобиль покупателем самостоятельно, общий срок эксплуатации и хранения
                установлен 6 месяцев.
              </li>
            </ol>
          </li>

          <li>
            <h4>Возврат товара ненадлежащего качества.</h4>
            <p>В случае возникновения претензии по качеству товара Покупатель обязан:</p>
            <ol>
              <li>
                Составить рекламационный акт по прилагаемой форме со всеми заполненными графами. Неправильно или не
                полностью заполненные рекламационные акты к рассмотрению приниматься не будут.
                <br>
                <a href=""> скачать бланк “Акт рекламации”</a>
              </li>
              <li>
                Предоставить документы, подтверждающие приобретение товара в ООО «ОМГ-Сервис» (накладная, счет-фактура,
                кассовый чек, товарный чек).
              </li>
              <li>
                Предоставить фотографии, позволяющие определить характер и возможные причины повреждений или
                несоответствий (дефектная деталь в составе автомобиля, общий вид запасной части, крупный план дефекта и
                т.п.).
              </li>
              <li>
                Предоставить документ акт выполненных работ, подтверждающий установку детали на автомобиль, если она
                производилась в аттестованном сервисном центре фирменной сети Урал.
              </li>
              <li>
                В течение трех рабочих дней получить от ООО «ОМГ-Сервис» решение о необходимости возврата дефектного
                товара, для исследования либо замены.
              </li>
              <li>
                2.6. Осуществить возврат дефектного товара в адрес ООО «ОМГ-Сервис», тем же способом, каким товар был
                получен (самостоятельная доставка в фирменный магазин УРАЛ, при самовывозе, либо возврат той же
                транспортной компанией за счет ООО «ОМГ-Сервис», при доставке транспортной компанией) со следующими
                сопроводительными документами: копия акта-рекламации, бирка «Брак»
                <br>
                <a href="">Скачать бланк Бирка "Брак"</a>
              </li>
              <li>
                ООО «ОМГ-Сервис» не несет ответственности за качество товара в случаях, если возникновение недостатков
                является следствием:
                <ul>
                  <li>
                    невыполнения Покупателем требований и правил, изложенных в руководстве по эксплуатации автомобиля и
                    сервисной книжке автомобиля, для ремонта и обслуживания которого предназначен товар;
                  </li>
                  <li>
                    применения товара для ремонта или обслуживания автомобилей, нормативной документацией на которые,
                    использование товара не предусмотрено;
                  </li>
                  <li>
                    внесения Покупателем или третьими лицами изменений в конструкцию товара;
                  </li>
                  <li>
                    механического повреждения товара;
                  </li>
                  <li>
                    самостоятельной разборки или ремонта товара Покупателем, или третьими лицами, не уполномоченными
                    заводом-изготовителем.
                  </li>
                </ul>
              </li>
            </ol>
          </li>
        </ol>
      </div>



    </div>
  </div>


</div>

<%= _.template(require('./../includes/footer.html'). default)(data) %>
