
html {
  font-size   : $mainFontSize;
  line-height : $mainLineHeight;
  height      : 100%;
  color       : $mainFontColor;
  @media screen and (max-width : $desktopWidth) {
    font-size : 16px;
  }
  @media screen and (max-width : $tableWidth) {
    font-size : 15px;
  }
  @media screen and (max-width : $phoneWidth) {
    font-size : 14px;
  }
}

body {
  font-family             : $mainFont;
  font-size               : $mainFontSize;
  font-weight             : $mainFontWeight;
  line-height             : $mainLineHeight;
  overflow-x              : hidden;
  width                   : 100%;
  max-width               : 100vw;
  margin                  : 0;
  padding                 : 0;
  color                   : $mainFontColor;
  background-color        : #fff;
  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin : 0;
}


button {
  cursor : pointer;
}

a {
  text-decoration          : none;
  color                    : $mainFontColor;
  text-decoration-skip-ink : none;

  &:active,
  &:focus,
  &:hover {
    color : $mainFontColor;
  }
}

section,
.section {
  position : relative;
  padding  : 40px 0;
  @media screen and (max-width : $desktopWidth) {
    padding : 36px 0;
  }
  @media screen and (max-width : $desktopWidth) {
    padding : 28px 0;
  }
  @media screen and (max-width : $desktopWidth) {
    padding : 20px 0;
  }
}

.wrapper {
  display        : flex;
  flex-direction : column;
  min-height     : 100vh;
  margin         : 0 auto;
}

.content-wrapper {
  display        : flex;
  flex-direction : column;
  min-height     : 100vh;
}

.container {
  position  : relative;
  flex      : 0 0 auto;
  width     : 100%;
  max-width : $desktopWidth;
  margin    : 0 auto;
  padding   : 0 30px;

  @media screen and (max-width : 1023px) {
    padding   : 0 15px;
  }

}




.page {
  display        : flex;
  flex-direction : column;
  min-height     : 100vh;

  &__header {
  }

  &__footer {
    margin-top : auto;
  }
}


.content {
  width : 100%;
}


.page-content {
  margin-bottom : auto;

  // .page-content__title
  &__title {
    margin : 5px 0 30px;
  }
}

[class*='has-sidebar'] {
  display : flex;
}

.container__inner {
  flex-grow : 1;
  width     : auto;
}
