@font-face {
  font-family: "Verdana";
  src: url("../fonts/verdana/Verdana-BoldItalic.woff2") format("woff2"),
  url("../fonts/verdana/Verdana-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Verdana";
  src: url("../fonts/verdana/Verdana-Italic.woff2") format("woff2"),
  url("../fonts/verdana/Verdana-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Verdana";
  src: url("../fonts/verdana/Verdana-Bold.woff2") format("woff2"),
  url("../fonts/verdana/Verdana-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Verdana";
  src: url("../fonts/verdana/Verdana.woff2") format("woff2"),
  url("../fonts/verdana/Verdana.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

